[2016-02-26 19:59] BeckyBaltes opened #2 "COMT.us typo"
If you click on the COMT tile, it tries to go to htp://comt.ioos.us instead of http://comt.us

[2016-02-26 20:01] BeckyBaltes opened #3 "Metrics.us typo"
If you click on ioos by the numbers, it takes you to htp://metrics.ioos.us instead of http://metrics.ioos.us.  I think it's turned off anyway, but still a typo.

[2016-03-09 16:20] kknee opened #6 "Add Feedback Mechanism"

[2016-03-09 22:01] lukecampbell commented on #6
Just a heads up, this was 'supposed' to be a static site. It's not well equipped for any dynamic behavior.

[2016-03-15 00:34] kknee opened #8 "Pin main IOOS.us nav bar"
Pin the nav bar similar to: http://ioos.wpengine.com/ so that tiles slider under it.

@bnfish please let me know level of effort before proceeding.

[2016-03-15 00:35] kknee opened #9 "Update EDS tile title"
to EDS Model Viewer

[2016-03-15 00:39] kknee opened #10 "Update COMT tile title"
to Coastal **and **Ocean Model Testbed

[2016-03-15 00:57] kknee opened #11 "Update IOOS.us 'Viewers' menu items"
Change COMT to Coastal and Ocean Modeling Testbed
Change EDS Viewer to EDS Model Viewer

[2016-03-15 00:58] kknee commented on #11
and add link to the gliders map called Profiling Gliders

[2016-03-15 01:00] kknee opened #12 "Update Gliders tile title"
to Profiling Gliders

[2016-03-15 01:01] kknee opened #13 "Implement Regional Association Menu"
Copy the "Regions" menu here: http://ioos.wpengine.com/  we need these to look the same.

[2016-03-15 01:02] kknee opened #14 "Remove Documents Page from About menu"

[2016-03-15 01:03] kknee opened #15 "Contact Us Page"

[2016-03-15 01:03] kknee opened #16 "HFRADAR DAC landing page"

[2016-03-15 01:04] kknee opened #17 "ATN DAC Landing Page"

[2016-03-15 17:35] dpsnowden opened #18 "data.ioos.us redirect problem"
Still points to http://data.ioos.us/gliders/erddap/index.html

[2016-03-16 13:39] kknee commented on #18
@dpsnowden it points to the CKAN page for me.  Can you double check?  Maybe try clearing your cache first?

[2016-03-16 14:31] dpsnowden commented on #18
yeah that worked (he said sheepishly)

[2016-03-16 14:31] #18 closed

[2016-03-16 15:51] lukecampbell commented on #18
Yeah it's going to require a hard cache clear. The old redirect was a "permanent redirect" so browsers won't even request updates without a hard cache clear.

[2016-03-16 17:28] kknee commented on #6
This is just adding the ability to send an email from the contact us page.  Send to the same group linked to the feedback form here: http://catalog.ioos.us/help/feedback

[2016-03-16 17:28] #3 closed

[2016-03-16 17:28] #2 closed

[2016-03-16 17:30] kknee opened #19 "Create RA Page"
Start by taking the image from here:

http://ioos.wpengine.com/ioos-region-map/

We'll want each target to link to the RA data page.  I'll put a list of links here when I have them.

[2016-03-16 17:31] kknee opened #20 "Add footer from http://ioos.wpengine.com to all pages"
Just leave the social media links and contact info intact for now.

[2016-03-16 17:34] kknee opened #21 "Add social media feeds between tiles and footer on homepage"
twitter account - @usioosgov

check into adding FB too: https://www.facebook.com/usioosgov

[2016-03-16 17:51] kknee commented on #19
Links:

AOOS:
CariCOOS:
CenCOOS
GLOS: http://data.glos.us/portal
GCOOS:
MARACOOS: http://assets.maracoos.org/
NERACOOS:
PacIOOS:
NANOOS:
SECOORA:
SCCOOS:

[2016-03-16 17:52] kknee opened #22 "Add API links to CKAN Landing Page"

[2016-03-16 18:28] BeckyBaltes opened #23 "Comt viewer feedback on names"
As an outsider looking at the viewer, there are a lot of unknown acronyms.  I know our viewership is still being assessed, but is there a way to spell out university or model names more or have the option to hover over the acronym and see it spelled out. ie UND - University of Notre Dame (for hover) or Univ of ND to shorten but spell out?
@kknee

[2016-03-16 19:00] lukecampbell commented on #23
As someone who is part of IOOS, I too, often feel overwhelmed at the acronyms. Especially the ones that end in OFS.

[2016-03-17 01:06] kknee opened #24 "Update Sensor Map tile title"
to "Environmental Sensor Map"

[2016-03-21 14:22] dpsnowden opened #25 "Begin retiring or redirecting old pages"
I'm compiling a partial list of URLs that I thought we agreed to retire.  Let's discuss whether I'm right and when it makes sense to retire/redirect.
- [ ] http://catalog.ioos.us/gliders  Retire?
- [ ] http://catalog.ioos.us/by_the_numbers/  Where will this live?
- [ ] http://catalog.ioos.us/map/ Retire?

In, general, I thought we planned to retire the entire catalog.ioos.us domain but my memory i

[2016-03-23 17:59] kknee opened #27 "Update IOOS Logo on IOOS by the Numbers"
here: http://catalog.ioos.us/by_the_numbers/

[2016-03-23 18:21] lukecampbell commented on #27
Yeah that's not an easy change.... That would require a fairly substantial refactor of the old catalog site. Unless you just wanna plaster the new logo over the old one without changing any of the colors or anything.

I think a better option would be to have Ben put this graphic on this new site as a page.

[2016-03-23 18:24] lukecampbell commented on #27
Actually, let me see if I can do something clever. I was worried that we'd have to change all of the banner code, but if I can find an IOOS logo that has a color (or make one) then I won't need to touch the banner code.

[2016-03-23 18:24] lukecampbell commented on #27
Didn't mean to close

[2016-03-23 18:26] robragsdale commented on #19
AOOS: http://portal.aoos.org/
CariCOOS: http://www.caricoos.org/drupal/
CeNCOOS: http://data.cencoos.org/
GCOOS: http://data.gcoos.org/
NANOOS: http://nvs.nanoos.org/Explorer
NERACOOS: http://neracoos.org/realtime_map
PacIOOS: http://oos.soest.hawaii.edu/pacioos/voyager/
SCCOOS: http://www.sccoos.org/data/overview/
SECOORA: http://secoora.org/maps/

[2016-03-23 18:39] kknee commented on #27
I don't think it's a bad idea to have @bnfish make a new page with that graphic, will be more consistent.

@bnfish any idea how much work?

[2016-03-23 18:41] kknee commented on #19
thanks @robragsdale!  @bnfish you're good to move forward with this one.

[2016-03-23 18:42] bnfish commented on #27
@kknee to do what? place that image on a blank page? not much work

[2016-03-23 18:44] kknee commented on #27
yup, create a new page at metrics.ioos.us and put the 'by the numbers' image there.  if not much work let's do that.

[2016-03-23 19:01] lukecampbell commented on #27
You guys kill me...
https://github.com/ioos/catalog/pull/443

[2016-03-23 19:04] daf commented on #27
(Also the IOOS logo on the by the numbers graphic itself needs to updated, I think that's what @kknee was referring to by this issue)

[2016-03-23 19:34] lukecampbell commented on #27
Well it's done now

[2016-03-24 14:05] #8 closed

[2016-03-24 14:05] #9 closed

[2016-03-24 14:07] kknee commented on #11
@bnfish the profiling gliders map link will need to be updated once we have a production URL, leaving this open for now.

[2016-03-24 14:08] kknee commented on #10
Ack - sorry @bnfish tile title should be "Coastal and Ocean Modeling Testbed"

[2016-03-24 14:09] #12 closed

[2016-03-24 14:11] kknee commented on #13
@beckybaltes -do you want these linked to the main RA pages or directly to the RA data pages?

[2016-03-24 14:11] #14 closed

[2016-03-24 14:14] #20 closed

[2016-03-24 14:15] #21 closed

[2016-03-24 14:15] #24 closed

[2016-03-24 14:18] kknee commented on #27
@bnfish if it's easy to move the whole graphic to a page at metrics.ioos.us I'd still like to do that

[2016-03-24 14:29] kknee opened #28 "Point sensors.ioos.us to the Environmental Sensor Map"
@lukecampbell already coordinating with Axiom on this.

[2016-03-24 14:29] daf commented on #28
Already done!

[2016-03-24 14:29] #28 closed

[2016-03-24 14:31] kknee opened #29 "Update Sensor Tile URL"
to sensors.ioos.us

[2016-03-30 16:04] kknee commented on #25
@lukecampbell can you retire the 1st and 3rd site listed above.  The 'by-the-numbers' can stick around for now.

[2016-03-30 16:09] kknee opened #30 "Update RA Menu Items to point to RA data portals"
portal links listed in #19

[2016-03-30 16:22] kknee opened #31 "Add link to http://www.ioos.noaa.gov/ in footer"
add a 'Useful Links' title similar to http://ioos.wpengine.com/ and park there.

[2016-03-30 16:23] kknee opened #32 "Add Testbed Landing Page"

[2016-03-31 12:40] lukecampbell commented on #25
What do we mean by retire?

Do we mean remove, because the front page of catalog.ioos.us still has a huge graphic that points to these?

[2016-03-31 12:46] kknee commented on #25
the only two things we need to keep for now are 'by the numbers' and the catalog inventory.  Is it possible to keep those subfolders alive and zap catalog.ioos.us?

[2016-03-31 15:12] dpsnowden commented on #25
Can you redirect catalog.ioos.us to www.ioos.us?

Cheers,
Derrick

Sent from my phone. Please excuse my brevity.

On Thu, Mar 31, 2016 at 5:46 AM -0700, "Kelly Knee" <notifications@github.com> wrote:

the only two things we need to keep for now are 'by the numbers' and the catalog inventory.  Is it possible to keep those subfolders alive and zap catalog.ioos.us?

—
You are receiving this because y

[2016-03-31 18:20] lukecampbell commented on #25
easily. Are we ready for that? Should I shut down the service monitor or rename the site?

[2016-03-31 19:01] kknee commented on #25
don't shut down the service monitor!  i thought renaming the site was hard?

[2016-04-01 14:48] lukecampbell commented on #25
I can rename it from catalog.ioos.us to something like monitoring.ioos.us but I can't name it something.ioos.us/monitoring/  <-- Can't map to a subdirectory.

[2016-04-01 15:03] dpsnowden commented on #25
I really don't remember what we decided. It was in one of the two docs we were working on. Ask Becky?

Cheers,
Derrick

Sent from my phone. Please excuse my brevity.

On Fri, Apr 1, 2016 at 7:48 AM -0700, "Luke Campbell" <notifications@github.com> wrote:

I can rename it from catalog.ioos.us to something like monitoring.ioos.us but I can't name it something.ioos.us/monitoring/  <-- Can't map to a

[2016-04-01 20:00] kknee commented on #25
we decided on: data.ioos.us/system-monitor, but maybe we need to revisit.

[2016-04-01 20:03] lukecampbell commented on #25
I would need a few days to refactor the old catalog to do that.

[2016-04-01 20:04] lukecampbell commented on #25
It wouldn't be pleasant.

[2016-04-28 10:39] kknee opened #34 "Update Map Screen Shot on gliders.ioos.us page"
and don't forget to remove the glider days ribbon first

[2016-04-28 10:40] kknee opened #35 "Link map screen shot to gliders.ioos.us/map"
currently links to dev.oceansmap.com/gliders

[2016-04-29 14:10] kknee opened #36 "Change Title of Intro Glider Paragraph on Glider Homepage"
From 'IOOS Gliders' to 'IOOS Glider DAC'

@beckybaltes are you okay with this?  Suggestion from MARACOOS.

[2016-04-29 14:14] jbosch-noaa opened #37 "NCEI IOOS Archive Data Portal"
NCEI has now made live their IOOS Archive Data Web Portal.  This is a website where people seeking to access archived IOOS data can search for and gain access to the specific data they are looking for.

Here is the link:
http://www.nodc.noaa.gov/ioos/

To find all the RA data, people need to go to our IOOS catalog, however, if they are seeking access to data that has been archived at NCEI and is n

[2016-04-29 14:41] BeckyBaltes commented on #36
I am. Go ahead and make the change.

[2016-04-30 07:44] dpsnowden opened #38 "Fix navigation in the top menu of "sub" pages like glider dac"
I haven't tested exhaustively but I've seen a couple errors in the navigation
- [x]  Data ==> Search pull down menu on the gliders.ioos.us page doesn't actually go to data.ioos.us.
- [x] The IOOS logo in the to the left of the Data pulldown on the blue site nav menu points to gliders.ioos.us instead of ioos.us.  It looks like the context is set to the subdomain rather than the topmost domain.  All

[2016-04-30 07:46] dpsnowden opened #39 "Add favicon in all sub pages"
There is no favicon in the data.ioos.us pages.  There is one in gliders.ioos.us

[2016-04-30 08:45] dpsnowden commented on #34
I've shown this page to a couple people who didn't realize that they should click on the screen shot to get to the map. Any thoughts on making it more clear?

[2016-04-30 08:50] dpsnowden commented on #6
I disagree with the static site comment. I thought we've been hoping to automate the registration of new data sets by creating a form that initiated the harvesting. Glider DAC has a similar page for data providers. Maybe I don't understand what you mean by static. The ability to collect feedback on every page is very important. ioos.catalog@noaa.gov probably can't cover the feedback for the entire

[2016-04-30 08:53] dpsnowden commented on #27
@jbosch-noaa are you seeing this convo? Can you share your draft graphic and make sure this is coordinated with your plans?

[2016-05-02 12:19] jbosch-noaa commented on #27
Hey folks.  I'm in the process of overhauling the IOOS by the Numbers page that will live here:

IOOS.noaa.gov/about/ioos-by-the-numbers/

 when our new website launches. I am anticipating that the IOOS.us website will link back to this new page once it goes live. Here is a draft of the current graphic.

![ioos_bythe_numbers_graphic2_v5](https://cloud.githubusercontent.com/assets/13106516/14954162

[2016-05-02 12:29] kknee commented on #27
@dpsnowden this is was marked 'on hold' because we knew @jbosch-noaa had something in the works. Sounds like we can wait until the noaa.gov page and then just link there.

[2016-05-02 20:07] lukecampbell commented on #27
I'm glad to see they kept my small contribution of the "1 IOOS" card

[2016-05-02 20:09] lukecampbell commented on #6
The main application that runs http://ioos.us/ was a small nodeJS project. We made a very important design decision that it would link to dynamic pages and not be dynamic in and of itself. To change this would require us to either add a lot more code to this nodeJS project and make it a dynamic project, or to scrap it and start a web application in python land.

Right now, it's not a web applicati

[2016-05-02 20:10] jbosch-noaa commented on #27
@lukecampbell  - They = me

Also, Zdenka and I both like it :)

[2016-05-02 20:16] lukecampbell commented on #34
Have a transition when the mouse floats over the image to change it so that it looks like:

![ioos-map-overlay](https://cloud.githubusercontent.com/assets/1155163/14966582/3eaf7316-1081-11e6-819c-a6db9ee94e95.png)

?

[2016-05-02 20:17] lukecampbell commented on #39
@benjwadams see if you can dig up where to configure CKAN's favicon. If you can't find anything we'll see if we can hack it with nginx.

[2016-05-03 10:29] dpsnowden commented on #34
Seems like a good solution.

[2016-05-03 10:33] dpsnowden commented on #6
Are you saying that a form collecting feedback is impossible to create under the current design?  I'm still not sure what you mean by dynamic/static. Is an html form populating a database dynamic?

[2016-05-03 12:15] kknee commented on #6
@dpsnowden is your concern about a regular feedback mechanism or the ability to register datasets through the site?  This issue was started to deal with the former.

[2016-05-03 12:23] kknee commented on #34
Agree.  @bnfish looks like you've got a little extra work to do on this.

[2016-05-03 14:28] lukecampbell commented on #6
So a static HTML file can not, by itself populate, save or do anything with the data. The browser that's reading the HTML can send the data to a server through HTTP commands like POST, or PUT. A server needs to listen for those, accept the data and do something with them. We don't have that last bit, we're just serving content. We can break that, but if we do, in order to choose the right tools, i

[2016-05-05 14:38] #10 closed

[2016-05-05 14:38] #19 closed

[2016-05-05 14:39] #29 closed

[2016-05-05 14:39] #30 closed

[2016-05-05 14:40] #31 closed

[2016-05-05 16:45] #35 closed

[2016-05-17 17:57] dpsnowden opened #41 "Create landing page and tiles for MBON"
We'd like to add a tile for MBON and associated URL (mbon.ioos.us).  The map portal is being developed by Rob and Axiom but we need the landing page to be a part of the ioos.us main page.  Gabrielle Canonico will be in touch to discuss next steps.

[2016-05-18 01:55] kknee commented on #41
@dpsnowden ok, will look out for an email from Gabrielle.

[2016-05-20 16:42] kknee opened #42 "Update EDS Tile"
@bnfish please replace the existing EDS tile image with the attached.

![thumbnail 2](https://cloud.githubusercontent.com/assets/196868/15435066/42317f88-1e88-11e6-96ff-203bdf97f50f.PNG)

[2016-05-23 16:23] kknee commented on #6
@bnfish - this one is still on your plate, please add the ability to provide feedback from the contact us page.  For now the feedback can just be emailed to ioos.catalog@noaa.gov.  We will get fancier later.

[2016-05-24 20:22] kknee opened #43 "Post Manual for QC of Glider Data"
@bnfish forwarded you the doc in an email.

Please post under the documentation tab in gliders.ioos.us.

It can be the top doc since it's the newest and it should be called, "Manual for Quality Control of Temperature and Salinity Data Observations from Gliders."  The sub text can be, "This manual describes the tests required to ensure the quality control (QC) of real-time data collected by sensors

[2016-05-26 13:09] dpsnowden commented on #6
@kknee my initial purpose for creating this ticket was not focused on the "register data sets" use case.  But, that's another thing we'll need to grapple with in the not too distant future.  Like @lukecampbell said, we should collect several use cases before we do a significant dev interation or even make design choices.  @mwengren is starting catalog planning now and as we discussed, catalog + io

[2016-05-31 15:37] bnfish opened #44 "Add Google Analytics Tracking Code"
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78530076-1', 'auto');
  ga('send', 'pageview

[2016-05-31 15:43] bnfish commented on #43
@kknee did you?

[2016-05-31 16:01] BeckyBaltes opened #45 "Add new map link for sensor map"
@lukecampbell @kknee,

Kathy and Axiom have a new map for the sensors.ioos.us/map site.  Can you update it with:

http://axiomdatascience.com/maps/ioos/#map?lg=26bbaa25-cea1-4526-b708-88f3d223e072&p=proj3857&b=google_hybrid&z=4&ll=32.44496%2C-86.48617

[2016-05-31 17:25] kknee commented on #43
@bfish I think Andy took care of this one already.

Sent from my iPhone

On May 31, 2016, at 11:43 AM, Benjamin Fish <notifications@github.com<mailto:notifications@github.com>> wrote:

forwarded you the doc in an email.

@kknee<https://github.com/kknee> did you?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ioos/ioos-us/iss

[2016-06-01 13:59] #15 closed

[2016-06-01 17:24] dpsnowden opened #48 "Tile and Splash page for OSMC integration"

[2016-06-01 17:30] dpsnowden opened #49 "Determine deployment scenario for the demos web page."
IOOS.us, or ioos.noaa.gov or both.  Role of github pages?
This is a decision we need to investigate and document.

[2016-06-01 18:28] BeckyBaltes commented on #45
Axiom updated from their end.  No need.

[2016-06-01 18:28] #45 closed

[2016-06-02 02:22] kknee commented on #43
@bnfish the manual is in there, but it's not at the top of the list.  Can you make that small change and then we can close this out.

[2016-06-02 02:38] kknee commented on #37
@jbosch-noaa how about a link from the Data menu in the ioos.us nav bar?

[2016-06-02 02:41] kknee commented on #27
@jbosch-noaa can we link to https://ioos.noaa.gov/about/ioos-by-the-numbers/ from the IOOS.us page now?

[2016-06-02 12:37] jbosch-noaa commented on #37
@kknee -That sounds like a great idea!

[2016-06-02 12:38] jbosch-noaa commented on #27
Yes!  Please link the ioos-by-the-numbers page.

[2016-06-02 15:27] kknee opened #54 "Add link to system documentation"
suggestion from @emiliom

@jbosch-noaa will provide more info

[2016-06-07 15:05] jbosch-noaa commented on #54
@emiliom - If you were looking for the flow diagrams from @lukecampbell 's presentation, those are still evolving.  Once the site is fully up and running we can document how it works.  If you are looking for technical info on ioos specifications and guidelines, check this out: http://ioos.github.io/#guidelines-and-specifications:6083a88ee3411b0d17ce02d738f69d47

[2016-06-07 17:53] kknee commented on #54
thanks @jbosch-noaa we should link to ioos.github.io site somewhere on ioos.us.

[2016-06-07 19:14] emiliom commented on #54
Thanks, @jbosch-noaa. I think you're referring to my comment about the flow diagram in @lukecampbell's presentation. I still think it'd be useful to have it available, even in its draft from, somewhere that's not overly public such as a link somewhere from the http://ioos.github.io documentation; it could have a big "DRAFT" and disclaimer statement. And yeah, I'm very familiar with the ioos specs

[2016-06-09 14:29] BeckyBaltes opened #55 "Add mbon.ioos.us tile"
@kknee,
 Now that the mbon.ioos.us portal is live, we'd like to get a tile on the main ioos.us that points to it and to have all pertinent navigation updated to include the new page.  Gabrielle will get an image to use for the tile but if there is anything else we need, please let her know.  For now I think you can just put mbon where the "Demonstrations (Coming Soon)" tile is and get rid of that

[2016-06-09 14:36] BeckyBaltes commented on #55
Scratch that. Here's the image.
![preview2](https://cloud.githubusercontent.com/assets/5738994/15933515/02288070-2e2e-11e6-8866-bc0d07e56b2f.jpg)

[2016-06-09 18:18] kknee commented on #55
@bnfish see above.  Can you replace the "Demonstrations" tile with the image above and link to mbon.ioos.us.  Please work with @lukecampbell to get your pull request reviewed and the site reployed when you're done.

[2016-06-13 17:18] kknee commented on #55
@bnfish can you update the tile title to either:

1. Marine Biodiversity Observation Network Portal

or if that's too long

2. Marine Biodiversity (MBON) Portal

[2016-06-13 19:52] kknee commented on #43
@lukecampbell can you redeploy the site so that we can close this out?

[2016-06-13 19:53] #42 closed

[2016-06-13 19:55] #36 closed

[2016-06-13 19:56] #34 closed

[2016-06-14 14:02] kbailey-noaa opened #57 "Update sensor map tile"
Hi,
The tile image for the Environmental Sensor Map looks a bit fuzzy, so attaching a new screenshot to see if this looks better:
![map_tile](https://cloud.githubusercontent.com/assets/11823385/16045572/09058090-3217-11e6-99c2-04b1f0ac99ba.PNG)
Can you please update?

[2016-06-14 14:58] dpsnowden commented on #27
Any word on when PR #53 will be pushed to production?  Any blockers to doing this quickly?

[2016-06-14 15:22] kknee commented on #55
@bnfish please use Marine Biodiversity (MBON) Data, ignore the message above.

Thanks!

[2016-06-14 15:23] kknee commented on #13
@bnfish can you update the Regional Association tile so that it doesn't say "Coming Soon" and link it to  http://ioos.us/regions?

Thanks!

[2016-06-14 20:46] kknee commented on #27
@dpsnowden pushed!

[2016-06-14 20:46] #27 closed

[2016-06-15 13:51] lukecampbell commented on #43
Is this for ioos.us or gliders.ioos.us?

[2016-06-15 16:38] kknee opened #60 "Consider adding a landing page for compliance checker"
It was suggested that these links:

Here's your chance to check it out and provide feedback!
http://data.ioos.us/compliance/index.html

Please submit compliance checker feedback on Github:

Bugs specific to NCEI checks or the interpretation of the NCEI specifications should be reported to
https://github.com/ioos/cc-plugin-ncei/

All other issues should be reported here:
https://github.com/ioos/com

[2016-06-15 16:42] kknee commented on #43
gliders.ioos.us

[2016-06-16 12:15] #43 closed

[2016-06-16 17:13] lukecampbell commented on #42
Just a design note, I crop the tiles before I add them. The whitespace around the edges makes the tiles look TERRIBLE if they're not cropped. Also, may want to consider using `background-position: center;`

![screen shot 2016-06-16 at 1 12 55 pm](https://cloud.githubusercontent.com/assets/1155163/16125968/1c54506e-33c4-11e6-9a09-f21652d75b0c.png)

[2016-06-20 16:00] dpsnowden opened #61 "Add link to the technical documentation"
Not sure if this merits a tile or if it should be in the menu structure only.  This was a request from the RA Annual Meeting.

We need some work on the ioos.github.io page as well but maybe there is an interim solution.

[2016-06-20 16:03] kknee commented on #61
@dpsnowden I think this is a duplication of #54 can we close in favor of the discussion there?

[2016-06-20 16:30] dpsnowden commented on #61
closed in favor of #54

[2016-06-20 16:30] #61 closed

[2016-06-22 15:19] dpsnowden commented on #55
It looks like #55 addresses this issue but I wonder when it will be pushed to production?  Once it's live we can close this issue, right?

[2016-06-29 19:45] kknee opened #62 "Add tool for tracking users"
Consider integrating something clustremaps or similar tool.

Example implementation:
http://www.oracle.ugent.be/
http://www.clustrmaps.com/map/Oracle.ugent.be

[2016-06-30 19:55] BeckyBaltes opened #63 "Update Regional Associations Tile"
Please update the Regional Associations Tile. It's no longer coming soon and the link should take you to the RA map, http://ioos.us/regions.

[2016-06-30 19:56] BeckyBaltes commented on #55
@kknee, do you know when this will get pushed to production?

[2016-06-30 20:49] #63 closed

[2016-07-01 13:16] kknee commented on #55
@BeckyBaltes, it's pushed!

[2016-07-01 13:16] #55 closed

[2016-07-07 13:16] mwengren commented on #54
@emiliom The documentation page [http://ioos.github.io/registry/ioos_registration_ngdc/](http://ioos.github.io/registry/ioos_registration_ngdc/#steps-for-registering-ioos-service-metadata:b50c3255fc3804594f54cd693ce053af) was updated to include the proposed Catalog harvesting system.  The whole document needs an update but for now the diagram is available for reference.  We're working on implement

[2016-07-07 13:16] #54 closed

[2016-08-01 13:58] kknee commented on #60
@jbosch-noaa, @mwengren  what do you think, should we move forward with a landing page for compliance checker?

[2016-08-01 14:00] jbosch-noaa commented on #60
I say go for it.  @mwengren , what do you think?

[2016-08-01 14:00] kknee commented on #48
@dpsnowden who's the lead for providing content?

[2016-08-01 14:14] mwengren commented on #60
No objections here.  Looks good.

On Mon, Aug 1, 2016 at 10:00 AM, Jennifer Bosch <notifications@github.com>
wrote:

[2016-08-01 14:40] dpsnowden commented on #48
@tcvance will be leading this.

[2016-08-01 16:32] kknee commented on #41
I believe we're all set here.

[2016-08-01 16:32] #41 closed

[2016-08-01 19:31] kknee commented on #62
@bnfish can you check out how much work this would be?

[2016-08-01 19:34] bnfish commented on #62
@kknee from clustrmap's website:

looks easy enough!

[2016-08-02 02:05] kknee commented on #49
Seems this is going to live at ioos.noaa.gov

[2016-08-02 02:05] #49 closed

[2016-08-03 18:39] kknee opened #66 "Add CKAN Search Box"
Allow users to kick-off a CKAN search from the IOOS.us homepage.  Doing so will bring the user to the CKAN search results page.

[2016-08-03 18:40] kknee opened #67 "Add CKAN Featured Dataset"
Highlight the CKAN featured dataset on ioos.us homepage.

First step is for @lukecampbell to tag a CKAN data as featured.  Next step is for @bnfish to integrate on homepage

[2016-08-29 19:14] BeckyBaltes opened #68 "Update COMT viewer"
I clicked on the comt tile and it doesn't take you to the model viewer right now.  It seems to take you to the old catalog page.  Can you redirect it back to the COMT viewer? @kknee, @bnfish

[2016-08-29 19:30] lukecampbell commented on #68
Fixed

[2016-08-29 19:30] #68 closed

[2016-08-29 19:31] BeckyBaltes commented on #68
Thanks!

[2016-08-29 20:05] rsignell-usgs opened #69 "Sensor map broken"
I just tried to demo http://sensors.ioos.us/ during an EarthCube Architecture planning webinar and it failed.   Some problem about https, I think.

[2016-08-29 20:48] lukecampbell commented on #69
https://www.ssllabs.com/ssltest/analyze.html?d=sensors.ioos.us

[2016-08-29 20:48] lukecampbell commented on #69
The certificate is using the wrong CN.

[2016-09-12 18:30] robragsdale opened #71 "Broken Contact Us link on glider DAC page on ioos.us"
The "contact us" link under "about" does not work in Chrome and does not show up in IE.  The link on the [glider DAC page](https://gliders.ioos.us/index.html) is broken, but is working from the home page [https://ioos.us/](url).

[2016-09-21 19:39] kknee opened #73 "Update Contact Us Page"
Add a section for GliderDAC that points users to this email address: glider.dac.support@noaa.gov.

[2016-09-22 16:19] bnfish commented on #71
@robragsdale are you referring to the link here: https://gliders.ioos.us/index.html?

if yes, follow up question: are you able to access this repository: https://github.com/ioos/gliders?

[2016-09-22 16:25] robragsdale commented on #71
@bnfish Yes, I am referring to https://gliders.ioos.us/index.html and I can access the repository https://github.com/ioos/gliders.

[2016-10-03 13:54] BeckyBaltes opened #74 "Update IOOS Archive Data Portal Link"
The link on the toolbar under "Data" for "IOOS Archive Data Portal" is a bad link. It's missing some punctuation. The link should take you to, https://www.nodc.noaa.gov/ioos/

[2016-10-06 14:21] dpsnowden commented on #69
Can this be closed?  I thought we resolved SSL issues.  @tcvance thoughts?

[2016-10-06 14:36] #69 closed

[2016-10-11 12:55] jbosch-noaa opened #75 "GLOS Data Portal Link update"
Hey Folks,

Got a message from Kristen Schrader at GLOS.  The link to their data portal on the [regional data portal page](https://ioos.us/regions) on ioos.us needs to be updated.  Here is a link to their new portal:  http://portal.glos.us/

[2016-10-11 13:58] #75 closed

[2016-10-11 14:00] lukecampbell commented on #75
Just a heads up though, that the link in the RA drop down points to the main GLOS website, not the data portal. This is probably desirable I just want to point out the difference.

[2016-10-11 14:52] jbosch-noaa commented on #75
Thanks @lukecampbell .  Yes, we are aware that the drop down points to the home page and the link on the map goes to the data portal. Part of me thinks that perhaps we should put a note or maybe a map title on top of the map indicating that the icons link to the data portals. @beckybaltes ?

[2016-10-11 15:35] BeckyBaltes commented on #75
It looks like we usually use the data portal in the drop down. We should probably switch to make them consistent and I would recommend we go with data portal pages in both the drop down and on the RA Map.  If so, we need to update both GLOS and MARACOOS.

[2016-10-12 21:28] BeckyBaltes opened #77 "Update SECOORA Portal link"
Can we please update the SECOORA portal link both on the Regional map and in the drop down?

The new link should be http://portal.secoora.org/

[2016-10-13 20:09] #77 closed

[2016-10-19 19:02] lukecampbell commented on #66
Why am I assigned to this?

[2016-10-19 19:03] bnfish commented on #66
b/c you're assigned here: https://github.com/ioos/catalog-ckan/issues/48 (?)

[2016-10-19 19:07] bnfish commented on #11
@kknee any update on this?

[2016-11-03 19:02] dpsnowden opened #80 "Broken link in navigation menu at the top"
The archive data portal link on this page yields an error:
https://ioos.us/

The link is currently pointing to : https://ioos.us/https//www.nodc.noaa.gov/ioos/

[2016-11-03 19:49] kknee commented on #80
@bnfish can you update the link to: https://www.nodc.noaa.gov/ioos/

[2016-11-03 19:51] bnfish commented on #80
@kknee it's already fixed here: https://github.com/ioos/ioos-us/pull/79

[2016-11-03 20:36] dpsnowden commented on #74
Sorry for the duplicates... #80

[2016-11-03 20:40] kknee commented on #74
ok, closing this one then.  fix has been merged and i'll close #80 when deployed.

[2016-11-03 20:40] #74 closed

[2016-11-03 20:47] birdage commented on #80
@kknee site is now updated, thanks to @lukecampbell

[2016-11-04 12:41] #80 closed

[2016-12-08 21:19] kknee commented on #66
looks good @bnfish, can you update the search URL to data.ioos.us?

[2016-12-14 18:35] mwengren opened #85 "Consider making consistent which tiles use target='_blank' etc on ioos.us homepage"
This might improve the overall UX, IMO.  Is there a reason we can't make all of the tiles use the same browser tab/window, including the new Catalog search box?

[2016-12-21 18:26] dpsnowden commented on #6
What is the approach for implementing the feedback mechanism?  I'm starting to receive email from ioos-monitor @ ... but I don't know what generates that email.  Is there a button somewhere?  We've talked around many aspects of this issue but I'm still a little confused about the overall approach for all ioos.us related sites to gather feedback from users.

[2017-01-13 20:13] RPSTJames commented on #44
Updated analytics code to be before routing.

There is no session tracking with the current code and each page view will be counted as a seperate user.

PR: #87

[2017-01-16 17:35] #44 closed

[2017-01-25 19:42] jbosch-noaa commented on #62
Just checking in  - Where are you on this feature?

[2017-01-25 19:47] jbosch-noaa commented on #37
Closing this issue because the link in the data menu has been added. Thanks, @bnfish

[2017-01-25 19:47] #37 closed

[2017-01-25 20:25] kknee commented on #62
@jbosch-noaa I'm not 100% sure that this was really wanted.  @dpsnowden saw it somewhere and asked us to look into it, but a decision was never made to integrate it.

[2017-01-25 20:32] jbosch-noaa commented on #62
Ok. I thought so but wanted to close the loop here.  Thanks.

[2017-01-27 18:50] jbosch-noaa opened #88 "Add a tile for the IOOS Data Demo Center"
Now that the[ IOOS Data Demo Center](https://ioos.github.io/notebooks_demos/) website that @ocefpaf and I have been working on is up and running, we would like to make it more accessible to users.  A tile off the ioos.us page would be helpful.

[2017-01-27 18:53] kknee commented on #88
@jbosch-noaa sure thing.  Any preference for for the image/icon used on the tile?

[2017-01-27 20:41] jbosch-noaa commented on #88
@kknee - I'm working on it ...
@bnfish- What is the optimal size and resolution of a tile picture?

[2017-02-02 19:09] jbosch-noaa commented on #88
@bnfish - Do we need to burn in the title "Data Demo Center" or will that be something you guys put on the Tile?

Does this .png work?  Dimensions are 590 x 480 pixels at 96 ppi

![datademocenter_tile_blue](https://cloud.githubusercontent.com/assets/13106516/22563568/113c66da-e94f-11e6-8a18-9779d49762b5.png)

[2017-02-02 19:44] bnfish commented on #88
@jbosch-noaa i'll overlay the text
in regards to its size, will this be replacing a tile? if not, where exactly should it be placed?

![image](https://cloud.githubusercontent.com/assets/385344/22565372/e252c48e-e955-11e6-8901-941bbf16b9a6.png)

[2017-02-02 21:37] jbosch-noaa commented on #88
We shouldn't get rid of any tiles. This should be a new one.

For symmetry we can create a tile for the HFR DAC and the ATN DAC.  I can work on graphics for both of those.  I'm also working on updating the IOOS by the Numbers graphic ... just waiting on Rob to finish his tally of the glider days.

Also, what happened to the MBON tile?  It's all white.  Looks like it's missing the picture.

[2017-02-17 16:59] kknee commented on #88
@jbosch-noaa do you have graphics for HFR and ATN that @bnfish can get started with? If not, we could just change sizes of existing tiles to retain the grid.

[2017-02-21 15:38] jbosch-noaa commented on #88
@kknee and @bnfish  - I am working on gathering a consensus on what image to use for those 2 DACs.  That may take a while since folks are on travel.  Perhaps adjusting the size of the images to fit the grid is the fastest way forward for now.

[2017-02-21 15:47] kknee commented on #88
@jbosch-noaa ok, I sketched out an option for @bnfish to mockup

[2017-02-21 16:27] bnfish commented on #88
@kknee @jbosch-noaa below is screenshot of the mockup; let me know what you think

![image](https://cloud.githubusercontent.com/assets/385344/23173866/91fceea6-f828-11e6-826d-0547e1474f3a.png)

[2017-02-21 16:29] jbosch-noaa commented on #88
I like it.  Do you need the Data Demo Center graphic? or do you have it and just put the blue square in there as a place holder.

[2017-02-21 16:34] bnfish commented on #88
apologies, @jbosch-noaa; graphic added:

![image](https://cloud.githubusercontent.com/assets/385344/23174225/b5dfa97a-f829-11e6-8971-e729bfac8008.png)

[2017-02-21 16:42] jbosch-noaa commented on #88
Looks great!  Thank you, @bnfish

[2017-02-22 20:04] jbosch-noaa commented on #88
Looping @BeckyBaltes in to this thread now that she is back :)

[2017-02-23 16:34] #88 closed

[2017-02-23 16:34] lukecampbell commented on #88
It's on production

[2017-03-02 14:41] kknee commented on #6
@bnfish as discussed, please add a floating feedback button to the left-side of all ioos.us pages.  For consistency, please make it look like the button here: https://sensors.ioos.us/ and make sure that the pop-up collects the same info.

[2017-03-23 16:39] kknee opened #90 "Tile for HF Radar DAC"
Layout should be similar to gliders.ioos.us page.

Content will be posted here: https://docs.google.com/document/d/1Bp2TywqoUX82E1sH_szLFMXkWWqpjR3_gu--JJx5Egs/edit?ts=58d3f8a6

[2017-04-04 19:48] kknee commented on #90
@bnfish content is ready at the link above

[2017-04-05 12:07] kknee opened #91 "Integration of Underwatergliders.org"
gliders.ioos.us will transition to a page similar to underwatergliders.org and the current DAC content will be a subpage.

@bbaltes will further define which content on underwatergliders.org will be statis vs. dynamic and who has permissions to upload content.

[2017-04-12 14:47] kknee opened #92 "Add Link to OSMC ERDDAP to Glider Data Provider Tools"

[2017-04-20 20:39] kknee commented on #6
@bnfish how can I review the updates you made?

[2017-04-24 12:54] kknee opened #93 "Post HFR files for download from IOOS.us"
Files are currently PW protected and available here: rowg.org

We need to request an account, download the files, and rehost w/o the PW protection.

[2017-04-29 09:27] vitaly-t opened #96 "db hint"
You use type `ParameterizedQuery` to an absolute 0 benefit. A simple direct query execution would have been more than sufficient, while offering all the rich formatting syntax supported by `pg-promise` ;)

[2017-05-01 13:19] lukecampbell commented on #96
Thanks for this, just real quick, I want to make sure I have it right.

[code]

[2017-05-01 13:21] vitaly-t commented on #96
That'll work ;) Just make sure to use the right database method. For example, if it can return 0 rows, you'd want to use `db.any` instead ;).

[2017-05-01 13:23] lukecampbell commented on #96
Is the promise for `any` treated the same way as `many`? What happens if the above returns 0 results?

[2017-05-01 13:25] vitaly-t commented on #96
See the [API](http://vitaly-t.github.io/pg-promise/Database.html).

[2017-05-01 13:57] lukecampbell commented on #96
Thanks, I suspected it threw an error but that confirms it. Thanks for your help!

[2017-05-01 16:36] #96 closed

[2017-05-05 23:58] kknee opened #98 "Add streaming video from Surfline"
Becky to provide additional details

[2017-05-15 23:29] kknee commented on #98
Here's a sample link: <iframe width="640" height="360" src="http://e.cdn-surfline.com/syndication/embed/v1/player.html?id=144653" frameborder="0" scrolling="no" allowfullscreen></iframe><div style="margin: 10px 0px;"><a href="http://www.surfline.com/surf-report/seaside-road-brigantine-mid-atlantic_144653/" target="_blank" title="Seaside Road, Brigantine Surf Report and HD Surf Cam">Seaside Road, B

[2017-05-18 18:28] bnfish commented on #92
http://osmc.noaa.gov/erddap/index.html
@kknee ^ is this the link?

[2017-05-18 18:54] kknee commented on #92
@bbaltes did we ever determine the final link for these?

[2017-05-18 19:12] BeckyBaltes commented on #92
I don't quite remember the history on this issue. Why were we adding the OSMC ERDDAP to our tools?  I did not track down a link but we can probably get the right one from Kevin O'Brien.

[2017-05-18 19:22] kknee commented on #92
it came up on the 4/12 gliderdac call, we can standdown if no longer necessary or I can ping Kevin for the link.

"OSMC:

- Can table from daily email be added to NDBC web server somewhere that we can access?
- Add link to OSMC ERDDAP to data provider tools? - Need link from Kevin

"

[2017-05-18 19:30] BeckyBaltes commented on #92
Ahh, ok. We are talking to Bill Smith about the daily email being hosted on NDBC's server next week hopefully. In the meantime, if Kevin has a useful link, it's worth adding to our tools.  Ping Kevin and see if he has anything. If he doesn't we'll focus on the NDBC route.  Both are just avenues to verify our data are making it to GTS.

[2017-05-30 21:41] kknee commented on #98
@bnfish here's the final content for Surfline, which should be a separate page with it's own tile.  Will a frame from the video work for the tile image or do you need something higher res?

"Surfline and IOOS have joined forces to bring you a literal eye on the ocean.

Under a cooperative research and development agreement, or CRADA, signed in 2017, Surfline began mounting live surf cameras on hig

[2017-06-07 13:52] rps-jimfrain opened #109 "COMT Review Updates - Chesapeake"
- [x]	integrate images provided by Marjy - _See email for location_
- [x]	Update style of new sub-headings under models and sub-projects

[2017-06-07 13:54] rps-jimfrain opened #110 "COMT Review Updates - Gulf of Mexico"
a.	Ensure that full dataset names are shown in subproject pages (currently the institution name, e.g. DAL, EPA, or LSU is getting truncated)
b.	Add timestamp to thumbnail images – ask brian for timestamps

[2017-06-07 13:55] rps-jimfrain opened #111 "COMT Review Updates - Puerto Rico"
- [x]	CO-PIs list – include only Johannes Westerink
- [x]	Collaborators List - Juan Gonzalez, Julio Morell, Aurelio Mercado, Reniel Calzada, Volker Roeber, Dongming Yang, Hugh Cobb, Carlos Anselmi, Ernesto Rodriguez, Luis Aponte
- [x]	Federal Partners List – Jamie Rhome (NOAA), Jane Smith (USACE)
- [x]	Model Descriptions – Take out “(UND)” next to ADCIRC

[2017-06-07 13:56] rps-jimfrain opened #112 "COMT Review Updates - West Coast"
- [x]	Co-PIs list: Christopher Edwards (UCSC), Yi Chao (Remote Sensing Solutions), Parker MacCready (UW), Andrew Moore (UCSC)
- [x]	Collaborators List: Bruce Cornuelle (UCSD), Fei Chai (U Maine)

[2017-06-12 16:33] BeckyBaltes commented on #98
@bnfish Any progress on this tile? Or an estimate for when it could be live?

[2017-06-21 16:30] kknee commented on #98
@bnfish you can go ahead and look at this.  no need to integrate in this wordpress effort for now.

[2017-06-22 13:33] kknee commented on #112
this is all set on dev, thanks!

[2017-06-22 13:33] #112 closed

[2017-06-22 13:34] kknee commented on #111
all good on dev, thanks!

[2017-06-22 13:34] #111 closed

[2017-06-22 13:37] kknee commented on #109
looks good on dev, thanks!

[2017-06-22 13:37] #109 closed

[2017-06-22 18:53] kknee opened #115 "Navigation to Glider User Group Page from IOOS.us"
@beckybaltes How do you want to handle navigation to the new glider user group site from ioos.us?  I assume that you want to keep the direct connection to the DAC from the ‘DACS’ menu and link to the user group site from the glider tile?  There’s not really a good menu option for linking to the user group site though?  Should we fit it under ‘Data’?  Create a new menu?

@bnfish @rps-jimfrain

[2017-06-22 19:54] BeckyBaltes commented on #115
I think we should keep the DAC connected through the DAC menu drop down, and the glider tile should go to the User Group, which I think will include a link to the DAC?  I don't think the User Group needs to be in the top menu for now, unless that is a bad precedent.  If it should be linked somewhere to the top menu I would suggest we add a new top menu topic.  Maybe "Community" or "User Groups"? I

[2017-06-23 01:18] kknee commented on #115
_I think we should keep the DAC connected through the DAC menu drop down, and the glider tile should go to the User Group, which I think will include a link to the DAC_

we'll do all of the above and leave off any additional navigation for now.  Can always be added later

[2017-06-23 01:18] kknee commented on #115
@rps-jimfrain should be good to go but I can't assign this to you

[2017-06-23 01:34] kknee commented on #93
@beckybaltes - I think the ball is still in Jack Harlan's court on this.  Can you confirm?

[2017-06-23 01:35] kknee commented on #92
this is on hold pending discussion with NDBC

[2017-06-23 01:36] kknee commented on #91
@rps-jimfrain and @bnfish are working this.  Outline of site is here: https://docs.google.com/document/d/1-bxFbybz6olQndKYBqdHCsOxN59BjxspPxKzjTHG0wo/edit

[2017-06-23 01:37] kknee commented on #90
this is deployed on production, think we're good to go!

[2017-06-23 01:37] #90 closed

[2017-06-23 01:43] kknee commented on #73
this is deployed on production

[2017-06-23 01:43] #73 closed

[2017-06-23 01:45] kknee opened #116 "Glider DAC Page - About menu not working"
@bnfish @rps-jimfrain during the DAC page overhaul please make sure to fix the About Menu

the About >> Contact Us item should point back to the ioos.us contact page

I'm not sure about About >> Documents - @beckybaltes, this doesn't go anywhere currently and is inconsistent with the main ioos.us About menu, can we remove?

[2017-06-23 01:48] kknee commented on #66
this is deployed on production

[2017-06-23 01:48] #66 closed

[2017-06-23 01:49] kknee commented on #57
done, closing

[2017-06-23 01:49] #57 closed

[2017-06-23 01:51] kknee commented on #48
@tcvance - if this is still wanted can you add some details and tag @bnfish  and @rps-jimfrain?

[2017-06-23 01:55] kknee commented on #38
all set here

[2017-06-23 01:55] #38 closed

[2017-06-23 01:55] kknee commented on #32
this is in progress, currently working with COMT PIs on finalizing contente

[2017-06-23 02:00] kknee commented on #25
@dpsnowden catalog.ioos.us now redirects to data.ioos.us and the system monitor lives on at monitor.ioos.us

http://catalog.ioos.us/gliders  -points to https://data.ioos.us/gliders/erddap/index.html, probably as a by product of redirecting catalog.ioos.us to data.ioos.us
 http://catalog.ioos.us/by_the_numbers/ - dead link now
 http://catalog.ioos.us/map/ -  dead link now

how to you want to procee

[2017-06-23 02:01] kknee commented on #23
@BeckyBaltes I think this will be remedied by the new homepage, good to close?

[2017-06-23 02:01] kknee commented on #16
done: https://hfradar.ioos.us/

[2017-06-23 02:01] #16 closed

[2017-06-23 02:02] kknee commented on #13
done

[2017-06-23 02:02] #13 closed

[2017-06-23 02:04] kknee opened #117 "HFRADAR Landing Page - Navigation Bug"
@bnfish just noticed that we have two 'Data' menus and no visualization menu here: https://hfradar.ioos.us/.

Can you make this consistent with the main ioos.us nav bar?

[2017-06-23 02:05] kknee commented on #117
same issue with gliders page.

[2017-06-23 02:06] kknee commented on #11
done

[2017-06-23 02:06] #11 closed

[2017-06-23 02:25] kknee commented on #6
![image](https://user-images.githubusercontent.com/196868/27464132-b362469c-5799-11e7-9afc-c4e5c021bfaf.png)

[2017-06-23 12:10] mwengren commented on #25
It looks like:

https://monitor.ioos.us/by_the_numbers/
https://monitor.ioos.us/map/

Are still available in the Service Monitor site.  I don't know if this is a problem or not, I don't believe we link to Service Monitor (https://monitor.ioos.us) at all from ioos.us or ioos.noaa.gov at this point.  So even if they're outdated, I don't think it's a big problem if they live on (IMO, others may disag

[2017-06-23 13:45] mwengren commented on #85
It's just a personal preference, but I'm generally not a fan of opening new tabs by default from navigation links in a website.

I would vote for anything *.ioos.us or ioos.noaa.gov does not open a new tab, including the Catalog dataset search box, Sensor Map, etc.  These are all IOOS sites and we should allow seamless navigation as possible between the ioos.us site and these sites.  Users can alw

[2017-06-23 16:04] BeckyBaltes commented on #85
I agree with what @mwengren proposed.  I think the ioos.us or ioos.noaa.gov can all open in the same tab. I personally like new tabs because I often go back and forth between them, but I think that is the exception to the rule and most would prefer the style outlined by Micah.

[2017-06-23 16:06] BeckyBaltes commented on #23
Yes, I think we can close it.

[2017-06-23 16:06] #23 closed

[2017-06-23 16:09] BeckyBaltes commented on #116
Yes, please remove it.

[2017-06-23 16:11] BeckyBaltes commented on #93
Confirmed. We are waiting on him to provide files.

[2017-06-23 16:29] kknee commented on #85
ok.  my logic was simply that most of the sites, despite having ioos.us domains, do not have the same navigation as the core site, so uses have to press the back button to get back.

We can switch them all to not opening new tabs. Do we need to wait for anyone else to weigh in?

[2017-06-23 18:43] tcvance commented on #48
Yes.  Will need to wait for Eugene Burger to return from vacation at the
end of this month to add details.

On Thu, Jun 22, 2017 at 6:51 PM, Kelly Knee <notifications@github.com>
wrote:

--
Tiffany C. Vance, Ph.D.
US IOOS Program
SSMC 3 Room 2703
1315 East West Highway
Silver Spring, MD 20910
Office: 240-533-9445

"Treat a man as he is, and he will remain as he is. Treat a man as he could
be, and

[2017-06-30 19:20] mwengren opened #118 "Update mailto: in Footer"
The current mailto address in the footer of IOOS.us needs to be changed to 'webmaster.ioos.us@noaa.gov' from 'ioos.catalog@noaa.gov'.

[2017-08-11 14:12] BeckyBaltes opened #130 "COMT Tile not linked to COMT page"
@rps-jimfrain Can you update the COMT tile to direct to the new ioos.us/comt instead of just to the map?

[2017-08-11 17:39] rps-jimfrain commented on #130
@BeckyBaltes Link has been updated on the tile. Closing this issue.

[2017-08-11 17:39] #130 closed

[2017-09-18 19:58] BeckyBaltes opened #140 "UG2 Publications Page"
Per my conversation with Jim, we want to add a publication list to the UG2 page.  It should be linked in the left menu under the Glider Activities Header as the top menu item "Publications".  The pubs should be listed like journal references and they should be binned by year. I think we should have 2017, 2016, 2015, and "Prior to 2015."  Jim had said he could put tabs at the top for going between

[2017-09-18 20:01] BeckyBaltes opened #141 "UG2 Menu Update: Remove color change from hover in top menu items"
In the UG2 side menu bar, the top items all highlight to yellow when you hover over them(Underwater Glider User Group, Data Management, Glider Activities, About Us), but they don't link to anything. Can you remove the color change so it's not confusing for users?

[2017-09-18 20:03] BeckyBaltes opened #142 "Wordpress Access for Becky"
@bnfish Can you provide me access to the wordpress site, so I can start looking around and getting familiar with it? I would like to have you still do major set up changes but I can edit/add content like calendar events, publications, etc...

[2017-09-18 20:11] BeckyBaltes opened #143 "Add Abstract Titles for OSM to UG2 Site by 29 Sep"
In preparation for our next UG2 Leadership Meeting, I'd like to show progress on some of their website suggestions.  One suggestion was to add abstracts for talks at the OSM to our upcoming meeting tab.  On https://ug2.ioos.us/meetingsevents/, under the upcoming AGU Ocean Sciences Meeting, I would like to start a list of abstract authors and titles beginning with the list in our session, https://a

[2017-09-20 03:55] RPSPDuffy commented on #142
@BeckyBaltes I just sent you an email with this information.  Please let us know if you have any questions.

[2017-09-20 13:53] BeckyBaltes commented on #142
Got it. Thanks!

[2017-09-20 13:53] #142 closed

[2017-09-22 17:26] RPSPDuffy commented on #143
Just to confirm, you want us to take the Titles and Authors from  https://agu.confex.com/agu/os18/preliminaryview.cgi/Session28052 and add that content to the meetingsevent page?

Do you want it listed by author then title or title and then author?  Also do you want it in the same order from the confex.com website or a different order?

Navigating gliders with GHOST: virtual and in water demonstra

[2017-09-22 17:33] BeckyBaltes commented on #143
My preference is alphabetical by author and author first, then title. Yes, I would like to start with the 14 abstracts listed at that link.

[2017-09-23 03:02] RPSPDuffy commented on #143
We added the text today.  Please review when you have a chance and let me know if you would like any changes or any additional content add to the page.

[2017-09-23 03:04] RPSPDuffy commented on #141
This should be all set.  We kept the hover over on Underwater Glider User Group since this is a link back to the home page on the sub pages.

[2017-09-23 03:10] RPSPDuffy commented on #115
This looks to be completed.  The tile on the homepage points to the UG WordPress site.

[2017-09-25 14:58] kellydesent commented on #140
I added the page and content. Please review when you have a chance and let me know if you would like any changes made to the page.

[2017-09-25 15:28] BeckyBaltes commented on #140
The content looks good. I saw that you added the years, but all the pubs aren't listed in the year category. I think they are all from before 2015, so can you also post them there? I think the Publications tab can have everything and then each year can be a subset.  In this case, everything that's been added can go in the pre-2015 tab.  Keeping them alphabetical by author seems good.

[2017-09-25 15:42] kellydesent commented on #140
I checked them all to make sure they were prior to 2015 and they were, so I also added them into that category. Let me know if you would like any other changes.

[2017-09-25 15:53] BeckyBaltes commented on #140
I think this is good for now. Do you know what the level of effort would be to set up the year tabs across the top, similar to the way the ioos.noaa.gov does it?  An example is https://ioos.noaa.gov/project/comt/ where the tabs are "about," "Projects," and "documents."  Otherwise, there is a UG2 meeting on Friday and I will make sure the leadership team is good with this but we can probably close

[2017-09-25 16:09] BeckyBaltes commented on #115
This is done, but it looks like I can't close it. Go ahead if you are able to.

[2017-09-25 16:13] BeckyBaltes commented on #143
I think this is a good start. When the AGU schedule is published, I think we will want to add what session other talks are in. These are all in one session.  I'm not sure what the best identifying information for the session is, but I will confer with the other UG2 team members on our Friday call. I think for now, we can close this task.

[2017-09-25 16:13] #143 closed

[2017-09-25 16:14] BeckyBaltes commented on #141
That works for me.

[2017-09-25 16:14] #141 closed

[2017-09-25 18:29] kellydesent commented on #140
I set up the page to work like that link with the tabs. Can you take a look and tell me what you think? When one of the links at the top is clicked, the page jumps down to that section of time. Since there is no publications in 2015-2017, it is blank. But you can test it with "Prior to 2015". Also, if you would like to leave it like this, do you still want the sub page categories with the differen

[2017-09-25 18:44] BeckyBaltes commented on #140
Oh, I like that.  Can you just put "To be added" for the years where we don't have any yet? I hope we're able to add some pretty quickly so they shouldn't stay empty for long.

[2017-09-25 18:50] kellydesent commented on #140
Sounds good. I added that text in. Would you like to keep the sub categories on the left that separate the publications into each year per page, or should I remove them?

[2017-09-25 19:05] BeckyBaltes commented on #140
I think remove the categories on the left side menu.

[2017-09-25 20:12] BeckyBaltes opened #144 "Add Animal Telemetry Network Tile to ioos.us"
We are ready to add a new tile for ATN. I can discuss deadlines for this task. We don't have a hard deadline on our end but we should set a target for at least this Fall.  The content is [here ](https://docs.google.com/document/d/1rumqcAoitYDKFtE6HvDAw4_2MgS2l52jTwAQpZf-BC4/edit)on a google doc. I can share it with whomever needs it, and a call may be easiest to discuss layout, but I'm envisioning

[2017-09-26 11:53] kellydesent commented on #140
This is completed. Let me know if you would like any other changes.

[2017-09-26 14:18] BeckyBaltes commented on #140
Looks good. If anything new comes up we can start a new issue.

[2017-09-26 14:18] #140 closed

[2017-09-26 19:19] dpsnowden opened #145 "MBON Tile doesn't render in some browsers."
I'm working on Firefox 55.0.3 (32-bit) and the MBON tile is blank.

![image](https://user-images.githubusercontent.com/3603125/30879652-f66ca336-a2cd-11e7-8c8c-021349380f89.png)

[2017-09-26 19:22] BeckyBaltes opened #146 "Glider DAC and UG2 Site naming"
@benjwadams @Bobfrat, @RPSPDuffy, @kellydesent,

My original hope was that the User Group page (ug2.ioos.us) would be hosted at gliders.ioos.us and the glider DAC (Currently hosted at gliders.ioos.us) could move to some sub-page from there.  How hard would that be to implement before people get too attached to ug2.ioos.us?

[2017-10-13 01:15] kknee opened #149 "Add Breadcrumbs back to COMT pages"

[2017-10-13 01:15] kknee opened #150 "Fix Footer Width for COMT Gulf of Mexico and Gulf of Maine pages"

[2017-10-13 01:17] kknee opened #151 "Remove 'Published Results' header from Gulf of Mexico and Gulf of Maine pages"
remove from these two pages only.  Make all other headers under the Subproject header consistent

[2017-10-27 14:31] kellydesent commented on #144
Hi Becky, I will be working on this task. Can you please share the google doc with my email, Kelly.Desent@rpsgroup.com. Thanks.

[2017-10-27 14:35] BeckyBaltes commented on #144
Done. Thanks

[2017-11-06 17:42] BeckyBaltes commented on #144
@kellydesent Any idea when this will be done?

[2017-11-06 17:44] BeckyBaltes commented on #146
@kknee @Bobfrat  Any progress on finding out the impact of renaming ug2.ioos.us to gliders.ioos.us and making the DAC site gliders.ioos.us/DAC?  Does the DAC site need to be converted to wordpress?

[2017-11-06 17:47] kellydesent commented on #144
@BeckyBaltes I have all of the content up and the new tile added. I am waiting for Bob to deploy the new atn site on a dev link. I will get back to you soon on an estimate for that. Once I get the link, I will send it over and we can go over changes you would like made. Once it is final, Bob will deploy it to the atn.ioos.us site. I will be in touch soon, thanks.

[2017-11-06 18:56] kellydesent commented on #144
@BeckyBaltes Here is the dev link: https://atn-dev.ioos.us/
Please let me know what changes you would like made, including any styling and layout updates.

[2017-11-07 02:45] kknee commented on #146
@BeckyBaltes -  @Bobfrat started looking into this today.  Still working on it, will keep you posted.

[2017-11-07 14:41] BeckyBaltes commented on #144
Thanks @kellydesent. It looks good to me, but I've sent it to the SME to review. As soon as Bill gets back to me, you can launch it.

[2017-11-07 16:28] kellydesent commented on #144
Ok sounds good. Under "About", the link for "Documents" and "Contact Us" directs back to the homepage, no matter what site your on, including this one: https://hfradar.ioos.us/. Do you have something else that should be there? I wasn't sure if it might have been missed in testing or if we are still waiting on content for that.

[2017-11-08 13:45] Bobfrat commented on #146
DAC site doesn't need to be converted to WordPress. Do you want me to go ahead with this update?

[2017-11-08 15:09] BeckyBaltes commented on #146
I'm ready to go ahead, but I spoke with people in the office and to make the domain names more universal, we should use data instead of DAC.
So User Group site (currently ug2.ioos.us) should be gliders.ioos.us and
DAC site (currently gliders.ioos.us) should be gliders.ioos.us/data

[2017-11-08 19:53] Bobfrat commented on #146
Ok so the gliders project is not set up to be deployed to a subfolder. I'll have to fix this

[2017-11-08 20:50] BeckyBaltes commented on #146
Ok, any idea how long the DAC site will be down?  Matt Howard already caught it and emailed to ask why the site wasn't working.

[2017-11-08 20:55] Bobfrat commented on #146
Ok its back to the way it was

[2017-11-08 21:02] kknee commented on #146
at least we know the site gets used!

[2017-11-08 21:48] BeckyBaltes commented on #146
It does!  Thanks for reverting for now.

[2017-11-09 22:44] Bobfrat commented on #146
Ok I think we're good now, @BeckyBaltes can you give it a look? I think the gliderdac link on the ug2 main page needs to be updated now to https://gliders.ioos.us/data but there may be more.

[2017-11-13 18:33] BeckyBaltes commented on #146
@Bobfrat This looks like a good start.  Here are the places to update links that I've found so far.

1. On a new gliders.ioos.us left side contents edit both "Data Management" and "Glider DAC" to link to gliders.ioos.us/data

2. On ioos.us, update glider tile to gliders.ioos.us (How long will you keep ug2.ioos.us also directing to that user group front page?

3. ioos.us- DAC menu on the top banner

[2017-11-13 18:46] BeckyBaltes commented on #146
@Bobfrat Also all of the old user group sub domains need to be updated.
ie. https://ug2.ioos.us/gliders-google-group-forum/ to gliders.ioos.us/gliders-google-group-forum

I would also like to update https://gliders.ioos.us/gliders-forum/ to https://gliders.ioos.us/usergroup

[2017-11-13 18:53] BeckyBaltes opened #155 "Update sub links for glider home page (gliders.ioos.us)"
@kellydesent, @Bobfrat ,  Since we have updated the glider user group to be the entry point for all things gliders and not just the user group, I would like to update the front page text.   I would like to maintain the current page, but have it at  https://ug2.ioos.us/gliders-forum/.  (Note: I'd like to update this to be gliders.ioos.us/usergroup as noted in Issue #146.)

On the main gliders.ioos.

[2017-11-13 19:04] BeckyBaltes commented on #144
@kellydesent Talked with Bill and here are the minor edits for the ATN page.

1. At the top of the page title change from **IOOS** Animal Tel. Network to **US** Animal Tel. Network.
2. When you hover over the map, change the text from "Click here to see the map" to "Click here to enter the portal"
3. Delete the "Data Vis and Access" and sub header content because it's not worthwhile enough to keep

[2017-11-13 19:31] BeckyBaltes commented on #144
@kellydesent One addition.

Please add this document to the documentation list:
Name: Ocean Observations Using Tagged Animals
[ATN Article.pdf](https://github.com/ioos/ioos-us/files/1468184/ATN.Article.pdf)

[2017-11-14 13:16] kellydesent commented on #144
Hi, I have made these changes. We just need to deploy them onto the atn.ioos.us site. As for the about us content, if you could create a new issue, that would be great. I will get in contact with Bob to see what we need to do for that. I will let you know. Thanks.

[2017-11-15 13:24] kknee opened #157 "Fix gliders.ioos.us navigation menu issues"
In particular

-  the IOOS Glider DAC link should go to https://gliders.ioos.us/data/
- this link for the QC manual doesn't work: https://gliders.ioos.us/Manual-for-QC-of-Glider-Data_05_09_16.pdf

@Bobfrat @gitchrisadams

[2017-11-15 17:38] Bobfrat commented on #155
Adding @gitchrisadams to discussion because he is updating the links on the main gliders.ioos.us page.

[2017-11-15 17:41] Bobfrat commented on #116
I think this is all set and can be closed

[2017-11-15 17:47] Bobfrat commented on #144
@BeckyBaltes Are we ok to deploy new ioos.us with the ATN tile pointing to atn.ioos.us?

[2017-11-15 17:49] BeckyBaltes commented on #144
Yes please.

[2017-11-15 21:48] Bobfrat commented on #157
should be set

[2017-11-15 21:49] Bobfrat commented on #144
Ok this has been deployed. you should see the ATN tile now

[2017-11-16 13:54] gitchrisadams commented on #146
RE: I would also like to update https://gliders.ioos.us/gliders-forum/ to https://gliders.ioos.us/usergroup
@BeckyBaltes These links are now updated/changed, See below screenshots.

![image](https://user-images.githubusercontent.com/9978238/32894617-472fdee6-caab-11e7-8c56-6bff54dea723.png)

![image](https://user-images.githubusercontent.com/9978238/32894634-5a21ba42-caab-11e7-86f5-ab3e2eff79a4.pn

[2017-11-16 13:58] gitchrisadams commented on #155
@BeckyBaltes
This has now been updated, see screenshot below.

![image](https://user-images.githubusercontent.com/9978238/32894881-2cee5c0a-caac-11e7-9d1d-0b9a8b466ce5.png)

[2017-11-16 20:41] BeckyBaltes commented on #155
@gitchrisadams This new text looks great.  Can you delete the text that is under the picture since it's now on the usergroup page instead?

[2017-11-16 20:43] BeckyBaltes commented on #146
These edits all look good. I'm not sure the Glider User Group needs to be listed under About though. Can you remove it from there?

[2017-11-16 20:46] BeckyBaltes commented on #144
I see the ATN tile, but I think there was suppose to be a picture associated with it.  Can you add that to the background of the tile? The picture is in the google doc I shared with @kellydesent.

[2017-11-16 20:49] gitchrisadams commented on #155
@BeckyBaltes Should be all set, let me know if that looks o.k.

[2017-11-16 20:52] BeckyBaltes commented on #155
Looks good. I think we can close.

[2017-11-16 20:52] kknee commented on #144
@kellydesent can you figure out what happened to the photo please?

[2017-11-16 20:54] gitchrisadams commented on #146
@BeckyBaltes All set.

![image](https://user-images.githubusercontent.com/9978238/32915301-68fcf0be-cae6-11e7-8fe0-9b5b3a84cc6f.png)

[2017-11-16 20:54] Bobfrat commented on #144
All set Fixed here, will be deployed in a couple mins
https://github.com/ioos/ioos-us/pull/160

[2017-11-16 20:55] BeckyBaltes opened #161 "Integrated Ocean Observing System header link on gliders.ioos.us wrong"
Can you look at the top menu Integrated Ocean OBserving System link at the top of the gliders.ioos.us page. It redirects to gliders.ioos.us, but it should redirect to ioos.us.

[2017-11-16 21:00] #155 closed

[2017-11-16 21:02] BeckyBaltes commented on #144
That looks good. In reviewing the content Bill provided, we were suppose to include the logos of the participating agencies/groups. Can you add those under the portal entry and above the Resources?

[2017-11-16 21:03] BeckyBaltes commented on #146
Great, I think we can close this until we find any other places that need to be updated.

Becky

[2017-11-16 21:18] kellydesent commented on #144
@BeckyBaltes I will add the logos in right now.

[2017-11-16 21:53] kellydesent commented on #144
@BeckyBaltes This is completed. Just waiting for it to be deployed. Thank you.

[2017-11-17 19:38] BeckyBaltes opened #162 "COMT Map link wrong on gliders.ioos.us"
@gitchrisadams the Viewers banner has the wrong COMT map link in the drop down on the gliders.ioos.us page.  It should be http://oceansmap.com/comt/.

[2017-11-17 19:41] gitchrisadams commented on #162
@BeckyBaltes Should be all set now.

[2017-11-17 19:46] BeckyBaltes commented on #162
Yep. looks right. Thanks.

[2017-11-17 19:46] #162 closed

[2017-11-17 19:49] BeckyBaltes commented on #144
Looks good to me. I think we can close this if you're ready.

[2017-11-17 19:53] #144 closed

[2017-11-17 19:56] BeckyBaltes opened #163 "Link updates for gliders.ioos.us"
@gitchrisadams Kyle's keeping us honest.

On gliders.ioos.us, the viewer drop down has the old gliderdac link. It should be gliders.ioos.us/data.

Also, Can you make the glider map screengrab on gliders.ioos.us clickable and direct to https://gliders.ioos.us/map/?

[2017-11-17 20:02] gitchrisadams commented on #163
@BeckyBaltes Viewer drop down or DAC dropdown for old gliderdac link?

[2017-11-17 20:06] gitchrisadams commented on #163
@BeckyBaltes Map image is now clickable.

[2017-11-17 20:12] gitchrisadams commented on #163
@BeckyBaltes I updated gliderdac in DAC drop down to: gliders.ioos.us/data and the profiling gliders link in the Viewers drop down to http://gliders.ioos.us/map so should be all set.

[2017-11-17 20:19] BeckyBaltes commented on #163
Looks good.

[2017-11-17 20:19] #163 closed

[2017-11-20 14:22] gitchrisadams commented on #161
![image](https://user-images.githubusercontent.com/9978238/33022765-3e6ea572-cdd4-11e7-8f34-2c74e151151f.png)

@Bobfrat @BeckyBaltes This should be all set.

[2017-11-20 14:26] BeckyBaltes commented on #161
Looks good.

[2017-11-20 14:26] #161 closed

[2017-12-04 16:24] BeckyBaltes opened #164 "Publications Sorting on Glider User Group"
@kellydesent Can you fix the glider user group publications page so when you click on the years at the top it takes you to that year in the listing?  I added pubs to the other years 2017,2016, and 2015, so the links will be more useful now. It looks like they are linked, but links aren't working.

[2017-12-04 19:04] kellydesent commented on #164
@BeckyBaltes This should be all set. Let me know if you would like anything else. Thanks.

[2017-12-04 19:06] BeckyBaltes commented on #164
Looks good. We'll probably want to add a 2018 tab soon, but until we have any pubs in 2018, we can probably leave it. Thanks.

[2017-12-04 19:06] #164 closed

[2018-02-07 21:01] BeckyBaltes opened #166 "Fix formatting on https://gliders.ioos.us/meetingsevents/"
@kellydesent I made some updates to the meetings page and I can't get the formatting quite right. Can you take a look. I have links for all events at ocean sciences, but the Townhall link doesn't change the text color so you can't tell there is a link.  Also I moved "Past Events" to the bottom of the page, but it justified all the way to the left and I can't get it to line up with everything else.

[2018-02-08 17:37] kellydesent commented on #166
@BeckyBaltes The formatting issues should be all set. Please take a look and let me know if you'd like anything else. Thanks. https://gliders.ioos.us/meetingsevents/
-Kelly

[2018-02-08 17:46] BeckyBaltes commented on #166
Thanks Kelly, I plan to add a few webinars, so I may have to reach out again, but this looks good.

[2018-02-08 17:46] #166 closed

[2018-02-27 20:31] BeckyBaltes opened #167 "Add new menu item to UG2 home page"
@kellydesent, Please add a new menu item on the UG2 home page under activities called "Operations Checklists".  Then please create a new page for them and add these two files.  For the QAPP File, title it "Rutgers Sample Data Quality Assurance Plan Checklist". For the other, title it "Rutgers Sample Glider Prep and Deployment Checklists 2017"
[QAPP_CoastalGlider_Final_Revised_signed_amd1-5.pdf](ht

[2018-02-28 14:10] BeckyBaltes commented on #167
Looks good. Thanks

[2018-02-28 14:10] #167 closed

[2018-02-28 14:52] kknee commented on #157
@Bobfrat the link to the QC manual, both on the page and the one listed above doesn't work.

@kellydesent can you look at this and ask @gitchrisadams and @Bobfrat questions as needed?

[2018-02-28 14:55] kknee commented on #151
@kellydesent can you take a look, the two pages needed the text removed are:

https://ioos.us/comt/projects/extratropical_inundation

and

https://ioos.us/comt/projects/tropical_inundation

[2018-02-28 14:56] kknee commented on #150
this appears to be fixed

[2018-02-28 14:56] #150 closed

[2018-02-28 15:01] kellydesent commented on #157
It doesn't look like the file was uploaded into WordPress. @Bobfrat and @gitchrisadams do either of you know where I can find the file so I can upload it?

[2018-02-28 15:07] kknee commented on #149
@kellydesent

We have breadcrumbs at the dataset set level, e.g. click Project:
https://ioos.us/comt/projects/extratropical_inundation then the
_2005 UMASS FVCOM 3D no wave_ button

But at the project level, e.g. https://ioos.us/comt/projects/extratropical_inundation

There is no way to get back to the homepage, would be good to add breadcrumbs like:

Coastal and Ocean Modeling Testbed > Coastal W

[2018-02-28 15:08] kknee opened #168 "Images on COMT datasets pages broken"
@kellydesent, e.g.

https://ioos.us/comt/projects/extratropical_inundation/2005-umass-fvcom-3d-no-wave?t=Hurricane%20Bob%20wave-current%20interaction%20and%20stratification200520072010

![image](https://user-images.githubusercontent.com/196868/36794808-5e6d802a-1c6f-11e8-8899-a2ff2c9ff76f.png)

[2018-02-28 15:10] kknee commented on #146
@kellydesent can you test all the issues in this thread and close if we're all good?  Thanks!

[2018-02-28 15:11] kknee commented on #145
@kellydesent

[2018-02-28 15:12] kknee commented on #118
@kellydesent

[2018-02-28 15:14] #116 closed

[2018-02-28 15:14] #115 closed

[2018-02-28 15:26] gitchrisadams commented on #157
[Manual-for-QC-of-Glider-Data_05_09_16.pdf](https://github.com/ioos/ioos-us/files/1767646/Manual-for-QC-of-Glider-Data_05_09_16.pdf)

Gave this to @kellydesent via Skype, but wanted to include here for reference as well.

[2018-02-28 15:42] BeckyBaltes opened #169 "Add Feedback Mechanism to all ioos.us pages"
@kknee @Bobfrat,  The Feedback tab on the front page looks good and it is on some of the other ioos.us pages. We would like to add it to all the Ioos.us pages. Can you start working on it and provide an estimate of when could it be completed?

[2018-02-28 15:54] kknee commented on #169
@kellydesent

[2018-02-28 15:58] kellydesent commented on #151
This is completed. https://github.com/ioos/ioos-us/pull/170

[2018-03-16 12:43] kellydesent commented on #157
This is completed.

[2018-03-16 12:57] kellydesent commented on #168
So it looks like the website we have the images hosted on has a server error. This is where the code is trying to pull the image from: http://thredds.comt.ioos.us/api/dataset/thumb/7cc0ba67-8093-4a42-bf78-fcd8345912c7

I went to the base of it (http://thredds.comt.ioos.us/thredds/catalog.html) and it looks like its a database we have for ioos. @Bobfrat @gitchrisadams do either of you know how this

[2018-03-16 14:41] brianmckenna commented on #168
I'll fix this soon, during testing for the upload tool I inadvertantly took a port that this was using. I'll have to map that back.

[2018-03-16 14:55] Bobfrat opened #171 "Add a link to thredds endpoint on gliderDAC homepage"
Glider Data access still baffles people. Need to add a THREDDS link to the Data Visualization and Access menu on gliders.ioos.us/data

Thredds URL:
https://data.ioos.us/gliders/thredds/catalog.html

[2018-03-22 18:09] BeckyBaltes opened #172 "UG2 Page updates"
@kellydesent
- Can you underline the "Workshops/Meetings" header or tell me how? I have an italics and Boldface feature but no underline.
- Can you also add a new category to the Table of Contents under "Meetings/Events" for "Job Postings"?
Then when add these two as starter jobs? Just list the following and link them to these attachments?
1. Postdoc in Oceanography, BIOS
2. Glider Tech, BIOS
[Pos

[2018-03-22 18:45] gitchrisadams commented on #172
I updated Workshops/Meetings to have an underline. Just for reference as to what I did. I had to click on the text tab and enter a <u> and closing </u>. In visual mode there doesn't seem to be a underline option.
![image](https://user-images.githubusercontent.com/9978238/37791417-83753260-2ddf-11e8-9487-cfdb63a679f0.png)

I'm also currently look int at those other issues posted in this issue as we

[2018-03-22 18:47] BeckyBaltes commented on #172
Thank you.

[2018-03-22 19:15] gitchrisadams commented on #172
@BeckyBaltes I updated to include a basic Job postings page with those two job postings as an ordered list, with link added to table of contents. If you want anything there changed or added, let me know.

[2018-03-22 19:16] BeckyBaltes commented on #172
Looks good 2 quick edits
2nd job, can you edit to BIOS (not BIO).  Also can you add ",posted 3/22/18" next to each one.

[2018-03-22 19:19] gitchrisadams commented on #172
@BeckyBaltes Sorry about the Bio/Bios thing, copy paste erorr, didn't grab all of it. It is updated now with the date.

[2018-03-22 19:28] BeckyBaltes commented on #172
Looks great. Thanks for the quick response!

[2018-03-22 19:28] #172 closed

[2018-03-26 14:50] gitchrisadams commented on #171
@Bobfrat
What do you think abou this?
![image](https://user-images.githubusercontent.com/9978238/37913641-5f399a42-30e3-11e8-9114-d9d7dbc5686b.png)

Or full Thredds def from https://www.unidata.ucar.edu/software/thredds/current/tds/TDS.html
or other description?
The THREDDS Data Server (TDS) is a web server that provides metadata and data access for scientific datasets, using OPeNDAP, OGC WMS and

[2018-03-26 14:55] Bobfrat commented on #171
I think we can be more specific to GliderDAC here;

Can you put it under ERDDAP Catalog?

**THREDDS Catalog**
The THREDDS Data Server (TDS) is a web server that provides metadata and data access to all GliderDAC datasets, using a variety of remote data access protocols.

[2018-03-26 14:58] gitchrisadams commented on #171
Yes will put under ERDDAP and update to include that description. Thanks.
![image](https://user-images.githubusercontent.com/9978238/37914189-a2ba51b6-30e4-11e8-8d46-e103cbc40e5d.png)

[2018-03-26 15:03] gitchrisadams commented on #171
Created PR: https://github.com/ioos/gliders/pull/50

[2018-03-27 12:53] mwengren commented on #118
@kknee @kellydesent I have an update on this issue.  Happened to be looking at ioos.us this morning and noticed the info also needs to be updated on the 'Contact Us' page (https://ioos.us/contact-us).

Also, I had made some changes via [PR](https://github.com/ioos/ioos-us/commit/42302d0bc343219c115cd14aa09469386e6e5fd2) to the code base awhile ago to change the footer email and other info, althoug

[2018-03-27 12:57] mwengren commented on #118
Hmm, well, I stand corrected.  Looks like maybe the Contact Us page has it's own, separate footer (with old info).  So, to close this issue, it might be best to get to the bottom of why Contact Us uses a different footer, see if any other pages do as well, and also please update the email address to 'webmaster.ioos.us@noaa.gov' in all locations.

[2018-04-17 16:59] BeckyBaltes opened #173 "Fix banner on HFR DAC page"
The banner on the HFR page (https://hfradar.ioos.us/) has two "Data" sections in the top menu bar. One should be "viewers".

[2018-04-17 16:59] BeckyBaltes commented on #169
@kknee Can I get a status check on this?

[2018-04-18 17:43] BeckyBaltes opened #174 "ioos.us homepage ATN Tile"
The text saying "Animal Telemetry Network" doesn't show up unless you hover over it. Can you adjust it so it can be seen before you hover over it?

[2018-04-18 17:45] BeckyBaltes commented on #174
I see now that the text just turns the same blue as the picture after you've clicked on it once. I think we can leave it as is.

[2018-04-18 17:45] #174 closed

[2018-04-23 19:16] rps-aaron commented on #118
This is completed in #176

[2018-04-23 19:25] rps-aaron commented on #149
@Bobfrat I added the html for the breadcrumbs in branch comt-breadcrumb but something additional has to be done to populate the text.  Can you let me know if this is something I can do and, if so, point me in the right direction.  Otherwise assign accordingly for someone to complete this item.

[2018-04-25 13:25] Bobfrat commented on #157
@kknee the link to the Glider manual works from the GliderDAC page. It's this link:
https://gliders.ioos.us/data/files/Manual-for-QC-of-Glider-Data_05_09_16.pdf.

[2018-04-25 13:25] #157 closed

[2018-04-25 13:31] #39 closed

[2018-05-08 17:54] gitchrisadams commented on #169
**I've started updating links for the following:**
https://gliders.ioos.us/
https://atn.ioos.us/
https://data.ioos.us//
https://hfradar.ioos.us/
https://ug2.ioos.us/

For data.ioos.us there is a FEEDBACK link on the top that links to a feedback form. For this should I link to that Feedback form page from the new feedback button on the left side? See screenshot below:
![image](https://user-images.g

[2018-05-17 15:13] Bobfrat commented on #169
@BeckyBaltes @mwengren any thoughts on the feedback mechanism above?

[2018-05-17 15:59] BeckyBaltes commented on #169
I think @mwengren should have the final say. For the data.ioos.us I would link to the same form used on the left side.  Otherwise, I would think you could remove it from the top header bar. We did discuss with Kelly if there was a way to ensure when we receive the feedback, it indicates what page the reviewer is providing feedback for. This would help us to target where the issue is.  Even if it's

[2018-05-21 15:13] #118 closed

[2018-05-21 17:53] rps-aaron commented on #149
this was resolved by @gitchrisadams with pr #177

[2018-05-22 19:11] gitchrisadams commented on #169
For data.ioos.us the email includes the dataset information and looks like sample below.
With the subject as IOOS Catalog Feedback and the dataset being provided, is this all that is needed, or would other information need to be grabbed?

Subject: [EXT] IOOS Catalog Feedback

Christopher Adams Christopher.Adams@rpsgroup.com has submitted feedback on dataset blia2-bligh-reef-light-ak from the IOOS

[2018-05-23 12:41] gitchrisadams commented on #173
This issue is now resolved with most recent deployment: https://hfradar.ioos.us/

[2018-05-23 13:13] fgayanilo opened #179 "Broken link"
The link to NDBC THREDDS (https://sdf.ndbc.noaa.gov/thredds/), returns a 404.

[2018-05-23 13:48] gitchrisadams commented on #179
@fgayanilo Can you tell me what page/url that link was on?

[2018-05-23 13:51] fgayanilo commented on #179
https://hfradar.ioos.us/ --> click on Data Visualization & Access  --> Access Data via NDBC THREDDS Server

[2018-05-23 13:52] gitchrisadams commented on #179
@fgayanilo Got it, thanks.

[2018-05-23 14:05] gitchrisadams commented on #179
@mwengren and @BeckyBaltes This link is broken: https://sdf.ndbc.noaa.gov/thredds/  But on website I noticed this: Please note that the HF Radar WCS/THREDDS has moved to https://dods.ndbc.noaa.gov/thredds/hfradar.html Does that link look right for the Data Visualization & Access --> Access Data via NDBC THREDDS Server link?

[2018-05-23 14:22] mwengren commented on #179
They did change their URLs ~ 6 mos ago.  That looks like the right one to me.

[2018-05-23 14:33] gitchrisadams commented on #149
This is live: Example: https://ioos.us/comt/projects/cb_hypoxia

[2018-05-23 15:08] gitchrisadams commented on #179
Thanks @mwengren  I updated the url and is deployed
![image](https://user-images.githubusercontent.com/9978238/40433246-8eb63744-5e79-11e8-8708-338090d86000.png)

[2018-05-23 15:12] gitchrisadams commented on #117
This issue was resolved with: https://github.com/ioos/ioos-us/issues/173 and is deployed: https://hfradar.ioos.us/

[2018-05-23 15:57] fgayanilo commented on #179
well done; link updated.

[2018-05-23 15:57] #179 closed

[2018-05-23 16:04] gitchrisadams commented on #110
@kknee @Bobfrat  Tried finding where datasets names are getting truncated.
Would that be these names in this screenshot. This is tropical_inundation:
![image](https://user-images.githubusercontent.com/9978238/40436585-43cf9538-5e81-11e8-93d5-2c486abf3af8.png)

For timestamp would we want the timestamp below this thumbnail. Slosh dataset used as example:
Or a sep field like Timestamp: below Date Ra

[2018-05-23 16:22] gitchrisadams commented on #98
@Bobfrat @kknee This has been implemented by Jim. I tested and the frame loads properly. The camera looks to be down right now though, it is also not active from source at surfline as well as other sites that uses this feed.

![image](https://user-images.githubusercontent.com/9978238/40437671-f865df28-5e83-11e8-8d6b-065471a6b69e.png)

[2018-05-23 16:58] gitchrisadams commented on #67
Due to this: https://github.com/ioos/catalog-ckan/issues/47 Can this be closed?

[2018-05-24 00:37] mwengren commented on #67
Yes, closing.

[2018-05-24 00:37] #67 closed

[2018-06-04 18:05] #149 closed

[2018-06-04 18:05] #173 closed

[2018-06-04 18:09] Bobfrat commented on #32
@kknee is this all set?

[2018-06-05 21:18] rps-aaron commented on #60
created #182 that adds the landing page and the homepage tile.

[2018-06-07 17:27] kknee commented on #168
@brianmckenna can you get this fix in?  Anything @kellydesent needs can do to help?

[2018-06-11 12:21] Bobfrat commented on #98
Available here:
https://ioos.us/surf-cam

[2018-06-11 12:21] #98 closed

[2018-06-11 12:22] Bobfrat commented on #91
@BeckyBaltes can we close this issue?

[2018-06-11 12:23] Bobfrat commented on #17
@kknee Is this set now? https://atn.ioos.us/

[2018-06-11 12:29] #145 closed

[2018-06-11 12:30] #117 closed

[2018-06-11 13:13] BeckyBaltes commented on #91
Yes.

[2018-06-11 13:13] #91 closed

[2018-06-18 19:57] BeckyBaltes opened #184 "Update web address for COMT tile to comt.ioos.us"
Per our conversations, can you change the link for the main COMT tile to match gliders and HFR to comt.ioos.us.  This means changing the link for the map to something else. Could it me comt.ioos.us/map?

[2018-06-18 20:22] Bobfrat commented on #85
@mwengren I think this ones set now. We went with your suggestion.

[2018-06-22 16:54] BeckyBaltes commented on #184
@kellydesent can you fix this one?

[2018-06-22 19:03] Bobfrat commented on #184
I can change the map to point to comt.ioos.us/map but I'm not sure whats involved to get the COMT site on comt.ioos.us. We may need to break that content out of this repo and into its own to be deployed standalone. I'll double check to see if this can be done within nginx though.

[2018-06-26 13:02] gitchrisadams commented on #110
cc: @Bobfrat

[2018-06-26 19:12] Bobfrat commented on #184
@BeckyBaltes just made the update. Had to create a separate project for this landing page:

https://github.com/ioos/comt-landing

You may need to clear your cache so you wont be redirected to OceansMap at comt.ioos.us.

Do you know of any other sites that point to ioos.us/comt?

[2018-06-26 19:16] BeckyBaltes commented on #184
Great! Looks good. I think the ioos.gov is the main one. SURA may also have a link so I'll let them know. Torie is ready to switch the .gov one as soon as the link was ready.

[2018-06-26 19:17] Bobfrat commented on #184
Ok we have a redirect in place so its not imperative. Any legacy users that come to ioos.us/comt will be redirected to comt.ioos.us once this latest update is pushed.

[2018-06-28 15:47] kellydesent commented on #169
This is completed. Just waiting for the PR to be merged.

[2018-06-28 16:51] Bobfrat commented on #169
@kellydesent which PR?

[2018-06-28 17:02] kellydesent commented on #169
@Bobfrat This is the PR: https://github.com/ioos/notebooks_demos/pull/312

[2018-06-28 17:04] Bobfrat commented on #169
Looks like theres still some work to do before Felipe will merge

[2018-09-07 17:08] Bobfrat opened #191 "Add Google Analytics"
Need to track metrics so let's add GA to ioos.us

[2018-09-13 18:45] gitchrisadams commented on #191
Check/confirm/add Google Analytics to:
- [ ] ioos.us
- [ ] OSMC
- [ ] Ocean Acidification
- [ ] gliders.ioos.us
- [ ] comt.ioos.us
- [ ] https://hfradar.ioos.us/
- [ ] https://atn.ioos.us/
- [ ] https://sensors.ioos.us/
- [ ] registry.ioos.us
- [ ] https://mbon.ioos.us/

[2018-10-10 13:28] gitchrisadams commented on #191
All are deployed, so closing.

[2018-10-10 13:28] #191 closed

[2018-11-09 14:31] Bobfrat commented on #151
@kknee is this ok now?

[2018-12-05 14:41] gitchrisadams commented on #60
@rps-aaron This is deployed at: https://ioos.us/
Feel free to close if this looks good.
cc: @Bobfrat

[2018-12-05 16:18] rps-aaron commented on #60
Looks good!

[2018-12-05 21:39] Bobfrat commented on #60
https://compliance.ioos.us/index.html has a feedback tab so that's probable a better place to report feedback than on Github. Plus theres a line later referencing the compliance checker github page. Maybe we should remove the above line?

https://github.com/ioos/compliance-checker/

[2018-12-14 15:01] Bobfrat opened #195 "DACS menu item links need updating"
On gliders.ioos.us and comt.ioos.us (and likely all the others) the hyperlinks on the DACS menu items need updating. GliderDAC url should be https://gliders.ioos.us. ATN DAC should point to https://atn.ioos.us/

[2018-12-14 16:59] gitchrisadams commented on #195
gliders.ioos.us top links and left sidebar are now updated/live.

[2018-12-14 19:06] #85 closed

[2018-12-17 15:07] gitchrisadams commented on #195
This has been updated and deployed to all sites listed above so closing this issue.

[2018-12-17 15:07] #195 closed

[2019-01-21 14:46] #17 closed

[2019-01-21 14:54] Bobfrat commented on #22
@kknee @mwengren
This is an old issue but looking on the landing page, it looks like the API links are available in the About Page. https://data.ioos.us/about

Is that sufficient or is the task to get those on https://data.ioos.us?

[2019-01-21 14:57] #60 closed

[2019-01-21 14:58] Bobfrat commented on #48
We now have a tile on https://ioos.us/ and splash page:
https://osmc.ioos.us/

[2019-01-21 14:58] #48 closed

[2019-01-21 15:20] Bobfrat commented on #32
We've got a tile and splash page for COMT:
https://comt.ioos.us/

[2019-01-21 15:20] #32 closed

[2019-01-23 17:57] Bobfrat opened #198 "Add page to gliders.ioos.us for EGO workshop"
We need to set up a sub-page on the https://gliders.ioos.us webpage for the upcoming Glider meeting in May. I would like to do something similar to what is done [here](https://usclivar.org/meetings/sources-and-sinks-ocean-mesoscale-eddy-energy).  Just a page we can point people too with information about the event and links to the flyer, call for abstract, and schedule once its finalized.

[2019-01-23 17:59] Bobfrat commented on #198
Need to know the subfolder we'll use, for example gliders.ioos.us/conferences or more specifically gliders.ioos.us/ego_2019.

Content to be provided by Ben LaCour.

[2019-01-23 18:09] benito334 commented on #198
How about gliders.ioos.us/UG2_EGO_2019

[2019-01-23 20:22] Bobfrat commented on #198
Looks like there is a link to the meeting PDF here btw:
https://gliders.ioos.us/meetingsevents/

[2019-01-23 21:58] gitchrisadams commented on #198
@benito334 I have initial page setup and can be viewed:
https://gliders.ioos.us/ug2_ego_2019/
Let me know if you would like any specific changes and what content needs to be added.
Thanks.

[2019-01-23 22:16] benito334 commented on #198
This is perfect thanks. I'll add some content and let you know if I need any help.

[2019-01-24 14:37] benito334 commented on #198
@gitchrisadams
Is it possible to replace the menu with a side banner such as what is shown [here](https://usclivar.org/meetings/sources-and-sinks-ocean-mesoscale-eddy-energy)? Something I can add more than just page links to. Maybe put the "Meeting Menu" first followed by the "Dead Lines" and then Schedule.

[2019-01-24 14:42] gitchrisadams commented on #198
@benito334 I'll work on adding a side banner instead of siderbar nav let you know what I come up with. I'll keep that order in mind when working on this.

[2019-01-24 18:43] benito334 commented on #198
@gitchrisadams Thanks this is great. Am I able to add the widget so I can edit the text as due dates pass etc.?

[2019-01-24 18:45] gitchrisadams commented on #198
@benito334  Yes, I'm in the middle of some edits so can you hold of editing any pages for now. I also placed some comments in the code for where the Feedback button code is located. Try not to remove that unless you do not want the Feedback button.
I'll post some screenshots of where the custom html widget is located and some more info how to update it.

[2019-01-24 18:47] benito334 commented on #198
@gitchrisadams Awesome thanks so much. I'll hold off on doing anything until you tell me. One thing I noticed is the formatting on the bottom of the logistics page seems off. I'm not sure how to fix this. Thanks again for the fast work! Its really appreciated.

[2019-01-24 18:48] gitchrisadams commented on #198
I noticed that about the Logistics page, I'm going to fix that too.

[2019-01-25 12:36] gitchrisadams commented on #198
@benito334
I finished editing the logistics page, let me know what you think.
https://gliders.ioos.us/ug2_ego_2019_logistics/

**Information for editing pages:**
**Editing the sidebar:**
From the left side menu in wordpress if you go to:
Appearance > widgets
There is a widget called Widgets for Shortcodes.
There is a custom widget on the right called "Meeting Menu"
![image](https://user-images.git

[2019-01-25 13:57] benito334 commented on #198
@gitchrisadams Thanks so much! Wordpress is kicking my butt. For some reason I can't get the customizer to load and I don't know html or css. I made most of my text edits and have a few small tweaks with formatting and a new graphic that is being made. I'll probably need your help making those changes when I have them. I'll let you know.

[2019-01-25 13:59] gitchrisadams commented on #198
@benito334 No problem. Once you have the changes, just post on here and I'll take a look.

[2019-01-25 15:43] benito334 commented on #198
Images
Replace bottom “Supported By” banner with the 4 logos I added to the media folder.
Including text that says “Supported By”.

Home page: Move image clipped from flyer to the top of the page and center it over the side banner and content. This will be replaced with a wide graphic similar to this one but larger.
![image](https://user-images.githubusercontent.com/33009334/51755962-d951b900-208d

[2019-01-25 20:32] gitchrisadams commented on #198
@benito334 I'll look into getting these updates. Probably will get to these Monday.

[2019-01-29 21:49] gitchrisadams commented on #198
@benito334 Take a look at https://gliders.ioos.us/ug2_ego_2019
And let me know of those changes look o.k. I addressed all the changes in issue above.
For the logos at the bottom, If you want them to link to corresponding websites, just me know and I'll link them up.
If you edit any of the html documents directly/html can you just test the feedback button on the left side and ensure it is still fun

[2019-01-30 14:00] benito334 commented on #198
@gitchrisadams Thanks all looks good. I should only be editing text from here on. I'll avoid making changes to html.

[2019-02-04 14:19] mwengren commented on #22
@Bobfrat this is issue is way old, before my time on Catalog even.  I'll go ahead and close it out, I think we're covered with the links on https://data.ioos.us/ and the search functionality on ioos.us.

[2019-02-04 14:19] #22 closed

[2019-02-11 00:14] #198 closed

[2019-11-19 15:32] kbailey-noaa opened #201 "ATN link"
I tried to go to the ATN DAC link from the [glider ioos.us](https://gliders.ioos.us/data/) page and hit an outdated/forbidden link: https://oceanview.pfeg.noaa.gov/ATN/

Can you pls change the ATN DAC link to https://atn.ioos.us/?  Looks like this is correct on the main ioos.us page and on the HFR DAC page, so just the Glider DAC page needs the updated link.

[2019-11-20 14:03] Bobfrat commented on #201
@kbailey-noaa this has been updated

[2019-11-20 14:07] #201 closed

[2020-01-15 18:24] kbailey-noaa opened #202 "Change EDS Model Viewer name"
On the IOOS.US page, change "EDS Model Viewer" to "IOOS Model Viewer" on the thumbnail.

[2020-01-16 12:58] kellydesent commented on #202
https://github.com/ioos/ioos-us/pull/203

[2020-01-16 13:17] Bobfrat opened #205 "Replace bower with yarn"
https://bower.io/
Bower themselves recommend that we migrate to yarn.

[2020-01-16 13:19] Bobfrat opened #206 "Update dockerfile"
Let's use one of the node base images, like node:13.0.1-alpine

[2020-01-16 13:27] Bobfrat opened #207 "Add TravisCI"
To run tests, build docker image. On commits to master it could push to DockerHub and update the latest tag. Tagged releases could push that version tag to DockerHub

[2020-01-16 13:34] Bobfrat commented on #202
@kbailey-noaa Probably also want it changed on all the ioos.us Viewers drop downs? I see it on https://comt.ioos.us/, https://gliders.ioos.us/ etc etc?

<img width="374" alt="Screen Shot 2020-01-16 at 8 31 58 AM" src="https://user-images.githubusercontent.com/5702672/72529237-d6ba1780-383a-11ea-924a-2db1c28774ae.png">

[2020-01-16 14:09] kbailey-noaa commented on #202
@Bobfrat  Yes please!  Good catch.

[2020-02-03 20:52] #206 closed

[2020-02-03 20:52] #205 closed

[2020-02-19 16:47] #207 closed

[2020-02-24 16:32] Bobfrat commented on #202
@kbailey-noaa I think we got them all (and vastly improved our docker images and deployment strategy)

[2020-02-24 16:36] kbailey-noaa commented on #202
Looks good, thanks!

[2020-02-24 16:36] #202 closed

[2020-04-08 13:50] mwengren commented on #25
Closing, monitor.ioos.us is no longer online.

[2020-04-08 13:50] #25 closed

[2020-04-08 14:10] mwengren commented on #6
I think this one has been superseded by #169 , closing.

[2020-04-08 14:10] #6 closed

[2020-04-08 14:12] mwengren opened #220 "comt.ioos.us header link is dead"
Not sure if this is just due to https://comt.ioos.us being down at the moment, but we have a dead link on ioos.us hompage for COMT.  Please investigate.

[2020-04-08 14:25] Bobfrat commented on #220
yeah the site was down. Just brought it back up and added a restart policy to the container.

[2020-04-08 16:40] #220 closed

[2020-04-28 18:31] mwengren opened #223 "Improve the 'Search IOOS Data' UI at top of ioos.us homepage"
The current 'Search IOOS Data' button on ioos.us homepage is non-intuitive.  Users must first click the button, then enter search terms into the box that appears.

Can we replace it with a search box that is similar in size/appearance to that which appears on https://data.ioos.us/ itself (minus the tags, of course)?  The blue background isn't necessary, but a simple, prominent search box labeled '

[2020-05-07 13:52] mwengren commented on #223
@Bobfrat @kellydesent thanks for working on this.  I was able to run via Docker and view locally.

Can we make the search bar a little more visually prominent?  The one on the Catalog looks like this:

![catalog_search_bar](https://user-images.githubusercontent.com/1469921/81301600-413fcf00-9047-11ea-9cb3-faa6852d1336.png)

That's a little too much, but perhaps we could use the same blue (or perha

[2020-05-14 20:08] kellydesent commented on #223
@Bobfrat here is the PR: https://github.com/ioos/ioos-us/pull/226
@mwengren if you think you'd like a light gray better, I can update it. Let me know. Thanks!!

[2020-05-14 20:10] kellydesent commented on #223
![ioos-us-campure-search](https://user-images.githubusercontent.com/30243746/81980868-64e1b700-95fd-11ea-89a3-921724021e32.JPG)

[2020-05-15 16:15] mwengren commented on #223
@kellydesent I got creative and made an alternative version for folks to review as well:

![ioos us-searchmod](https://user-images.githubusercontent.com/1469921/82072237-61a20600-96a5-11ea-9d38-8d919e0d3699.png)

Looking at them side by side, I think I like blue background better, but happy with either.  We'll see what they say.

[2020-05-20 13:08] mwengren commented on #223
@kellydesent I asked around the office, the blue bar wins.  Please go ahead and merge/deploy these changes, thanks!

[2020-05-20 15:17] Bobfrat commented on #223
changes have been deployed

[2020-05-20 16:34] mwengren commented on #223
great, thanks.  closing.

[2020-05-20 16:34] #223 closed

[2020-06-10 12:27] Bobfrat opened #228 "Bad link to http://www.ioos.noaa.gov/"
Under the Useful Links section in the page footer the link to http://www.ioos.noaa.gov/ is broken. Need to update to https://ioos.noaa.gov/

[2020-07-15 18:24] #228 closed

[2021-07-15 20:04] mwengren opened #244 "Modify ioos.us homepage tiles"
@nguyandy Related to the SanctSound tile discussion, below is a list of changes we'd like to make to the homepage tiles on ioos.us:

* Change Data Discovery to 'IOOS Data Catalog' 2 x 1 tile w/ better graphic background graphic - screengrab of the Catalog website is ok if it looks ok (https://data.ioos.us)
* Shrink Sensor Map to 2 x 1 tile, adjust background graphic as necessary
* Shrink OSMC and

[2021-07-16 22:25] nguyandy commented on #244
Thanks @mwengren,
@kellydesent has been handling the changes for ioos.us, I'll give her a ping for these modifications.

[2021-07-27 14:29] kellydesent commented on #244
![july-tile-updates](https://user-images.githubusercontent.com/30243746/127172099-5f68774d-3ab4-4b01-8164-6a28638e11f0.png)

[2021-07-27 14:33] kellydesent commented on #244
@mwengren @nguyandy, this has been updated. After all of the sizing changes, there was an extra box on a new row. So, I sized HF Radar down to one by one so they all fit on the same row. Please let me know if you'd like any changes. Here is the PR: https://github.com/ioos/ioos-us/pull/245

[2021-07-27 16:29] nguyandy commented on #244
Thanks @kellydesent!

@mwengren What do you think?

[2021-07-27 18:07] mwengren commented on #244
@kellydesent Thanks for taking a crack at this!  I have a couple comments:

1. The IOOS Catalog image is not too inspiring.  Can you adapt this map image that was made using Catalog data for the background?  If it's too dark, I can try to regenerate with a lighter background map.  Will send along a lighter version as well soon.
2. For the Regional Associations map, can that be centered on the US a

[2021-07-27 18:48] mwengren commented on #244
@kellydesent Here's another IOOS Catalog image to use for the background tile.  Please give this one a shot instead - cropping will be necessary to only the map portion, sorry.  Thanks!

![Screenshot (43)](https://user-images.githubusercontent.com/1469921/127210714-d0bbbbaf-b5f1-4cf5-bb7f-5c71a4acc4b9.png)

[2021-09-03 19:51] MathewBiddle commented on #244
can we update the Data Demo Center tile to be the `IOOS CodeLab`, which links to https://ioos.github.io/notebooks_demos/content/intro.html

And use the new graphic
![test](https://github.com/ioos/ioos_code_lab/blob/master/jupyterbook/images/ioos_CodeLab_image_multi_hex.png?raw=true)

[2021-09-07 16:32] kellydesent commented on #244
@nguyandy @mwengren @MathewBiddle Here is a screenshot of the update. Please let us know if this change as well as the previous updates are all set and we will make them live. Thanks!
<img width="1325" alt="Screen Shot 2021-09-07 at 12 30 47 PM" src="https://user-images.githubusercontent.com/30243746/132379883-b57aca2c-9248-431d-b62b-014f9a14e740.png">

[2021-09-07 16:51] MathewBiddle commented on #244
Looks fantastic! One adjustment, could we change the text `Data Demo Center` -> `CodeLab`?

[2021-09-07 17:05] kellydesent commented on #244
Yep, like this?
<img width="404" alt="Screen Shot 2021-09-07 at 1 04 32 PM" src="https://user-images.githubusercontent.com/30243746/132383786-54bb54e6-e864-4449-a362-5f782db88c44.png">

[2021-09-07 17:35] MathewBiddle commented on #244
LGTM.

Ping @mwengren for final say.

[2021-09-16 20:10] mwengren commented on #244
Looks good to me, thanks!

[2021-09-23 13:00] nguyandy commented on #244
@mwengren @MathewBiddle , Kelly's update has been deployed to https://ioos.us/

[2021-09-23 13:20] mwengren commented on #244
Hi @nguyandy tile changes look good, thanks!

Looking at the site now, I see one change we must have missed: the link for the CodeLab tile still goes to the old URL, it should be: https://ioos.github.io/ioos_code_lab/.  At the moment users have to wait for a redirect to go to the new site.

There other other changes we could make to ioos.us like updating the menu links, but for now can we get that

[2021-09-23 13:23] MathewBiddle commented on #244
Good catch @mwengren! I missed that.

[2021-09-23 14:28] kellydesent commented on #244
@mwengren @MathewBiddle I just fixed it, it should be all set now! Thanks!

[2021-09-23 15:01] MathewBiddle commented on #244
LGTM, thanks!

[2021-09-24 20:28] MathewBiddle opened #248 "Search bar overlays dropdown menu on ioos.us"
I just noticed that when you try to look at the dropdown menus on ioos.us, the search field stays on top. I think it has something to do with scrolling the page and the search bar. See screenshots below:

![image](https://user-images.githubusercontent.com/8480023/134735858-510518d1-1afb-44e0-980c-b119f3eaa8a1.png)

![image](https://user-images.githubusercontent.com/8480023/134735627-d92b2fc1-ab99-

[2021-09-24 21:35] mwengren commented on #248
I noticed that as well, then it went away when I was about to file a ticket after I refreshed the issue. Seems to be an intermittent problem, should be investigated.

[2021-09-27 21:51] benjwadams commented on #248
cc: @kellydesent

[2021-09-29 13:55] kellydesent commented on #248
@benjwadams @nguyandy This has been fixed. Here is the PR: https://github.com/ioos/ioos-us/pull/249

[2021-09-29 14:18] kellydesent commented on #248
@MathewBiddle @mwengren, this is live! Let me know if you still have any issues with it
<img width="1314" alt="Screen Shot 2021-09-29 at 9 53 40 AM" src="https://user-images.githubusercontent.com/30243746/135286809-0ee67fbc-c5fc-462c-a812-a944b1c864cb.png">
.

[2021-09-29 14:25] MathewBiddle commented on #248
Awesome! Thanks for fixing that so quickly!

[2022-03-24 21:05] nguyandy commented on #244
I think that works!

[2022-03-28 12:00] nguyandy commented on #244
fyi @kvmartin001

[2022-04-01 14:52] kbailey-noaa opened #252 "Update gliders.ioos.us"
I'd like to replace the content on the existing [gliders.ioos.us](http://gliders.ioos.us/) with the content on  [gliders.ioos.us/data](http://gliders.ioos.us/data).  Please get rid of the gliders.ioos.us content and make the /data page the new gliders.ioos.us.
The existing gliders.ioos.us is entirely obsolete or already captured in the [underwatergliders.org](http://underwatergliders.org/) site.

[2022-04-06 14:53] nguyandy commented on #252
@kbailey-noaa @fgayanilo The changes have been made.

https://gliders.ioos.us/
And https://gliders.ioos.us/data will redirect to the homepage.

[2022-04-11 19:28] MathewBiddle commented on #244
FYI Everything will go live on the 22nd. So, we should have pieces in place to go on next Friday.

[2022-04-11 19:37] MathewBiddle commented on #244
Actually, can we look to push it out Thursday so other folks can take a look before Friday roll out?

[2022-04-11 19:41] MathewBiddle commented on #244
Link should go to https://sanctsound.ioos.us/index.html (not live yet)

[2022-04-11 19:51] nguyandy commented on #244
Hey @MathewBiddle, so you want the updates pushed live on https://ioos.us next Thursday (21st)?

[2022-04-11 19:53] MathewBiddle commented on #244
yeah, just so folks can test and make sure everything is working by Friday.

[2022-04-11 19:54] nguyandy commented on #244
Sounds good!
fyi @kvmartin001

[2022-04-12 14:05] kvmartin001 commented on #244
Hi @mwengren @MathewBiddle, I am on @nguyandy's dev team and have made the edits mentioned here.
I can't tag reviewers on the PR, so figured I would tag you here. Thanks!

[2022-04-12 19:05] MathewBiddle commented on #244
Thanks @kvmartin001! One comment. Is it possible to have the spelled out "Sanctuary Soundscape" with "(SanctSound)" underneath it both centered if possible, both same size white text like the other tile labels?

Example:
![image](https://user-images.githubusercontent.com/8480023/163035108-04f5bcfc-098f-4c23-ab8e-0c989e08e9c4.png)

[2022-04-12 19:20] kvmartin001 commented on #244
@MathewBiddle Sure thing, I'll change the text.

[2022-04-13 03:06] nguyandy commented on #244
@MathewBiddle how does this look?
<img width="1029" alt="Screen Shot 2022-04-12 at 11 05 59 PM" src="https://user-images.githubusercontent.com/43226410/163092052-0e87ae6b-0119-4879-9acf-ae720df311ea.png">

[2022-04-13 19:57] MathewBiddle commented on #244
@nguyandy Looks great! Thanks for the quick turn around. Seems like everything is in place for next Thursday.

[2022-04-21 12:55] MathewBiddle commented on #244
FYI, the portal team will be ready for testing of connectivity NLT 1600 eastern today so that Friday April 22 AM eastern is good to go for publicity.

Let me know if there are any last minute items to address as we make the changes.

Thanks for all your hard work on this.

[2022-06-17 19:13] kbailey-noaa opened #256 "Broken link on gliders.ioos.us"
In https://gliders.ioos.us/ under the Data Provider Tools menu there is a broken link to Compliance Checker.  Please update to https://ioos.us/compliance-checker.

[2022-06-22 04:30] nguyandy commented on #256
@kbailey-noaa, the current Compliance Checker link seems to be working for me. (https://compliance.ioos.us/)
Do you still want to update to https://ioos.us/compliance-checker?

[2022-06-24 13:31] kbailey-noaa commented on #256
@nguyandy The link in that Data Provider Tools menu isn't pointing to https://compliance.ioos.us/ for me, it points to gliders.ioos.us/compliance.
![image](https://user-images.githubusercontent.com/11823385/175546260-1c8baae0-852b-4d8b-a9dc-43f8333ebff0.png)

[2022-07-13 11:11] nguyandy commented on #256
@kbailey-noaa , the url has been updated on https://gliders.ioos.us/

[2022-07-13 13:47] kbailey-noaa commented on #256
Looks good!

[2022-07-13 13:47] #256 closed

[2022-11-14 19:23] #248 closed

[2022-11-14 19:24] #244 closed